// Paleta
$color__green: #94c1ad;
$color__brown: #311901;
$color__gray: #bab4ac;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__brown;
$color__background-button: $color__green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__brown;
$color__text-input: $color__brown;
$color__text-input-focus: $color__brown;
$color__link: $color__green;
$color__text-main: $color__brown;

$color__border-button: transparent;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__green;
$color__border-abbr: #666;
