// Sizes
$size__container: 1200px;
$size__header-height: 300px;
$size__logo: 160px;
$size__slider: 600px;
$size__home-banner: 240px;
$size__home-bottom-banners: 520px;
$size__mobile_menu: 230px;

// Separaciones
$padding_normal: 15px;
$padding_grid_items: 5px;
