$font__main: 'Roboto Condensed', sans-serif;
$font__titles: 'Prata', serif;
$font__buttons: 'Bebas', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__base-size: 16;
