p {
	@include font-size(1.2);
	margin-bottom: 1em;
	// margin-top: 1em;
	margin-top: 0;
	&:first-child{
		margin-top: 0;
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 2.5em;
}

address {
	margin: 0 0 2.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/**
* Utils
*/
// Columns
.sugar-hills-text-columns{
	@include column( 3, 1em );
	margin-bottom: 1.5em;
	label{
		// @link https://stackoverflow.com/questions/7785374/how-to-prevent-column-break-within-an-element
		display: inline-block;
	}
}

// Highlight
.sugar-hills-highlight{
	p{
		@include font-size(1);
		display: inline-block;
		background-color: lighten($color__green, 25%);
		padding: .5em 1em .2em 1em;
		font-family: $font__buttons;
		// letter-spacing: 0.03em;
		word-spacing: 0.2em;
	}
	a{
		// color: $cogre
	}
}


// Messages
.sugar-hills-message{
	padding: .4em 1em;
	border: 1px solid;

	&.sh-msg-error{
		color: #ff472e;
		border-color: #ff472e;
	}
	&.sh-msg-success{
		color: #0eb000;
		border-color: #0eb000;
	}
}
