h1, h2, h3, h4, h5, h6 {
	font-family: $font__titles;
	font-weight: 400;
	clear: both;
	margin-top: 0;

	&:first-child{
		// El primero sin márgen
		// repetido acá para más peso de selector
		margin-top: 0;
	}

	&.separator-title{
		// Titles that work as separators
		font-family: $font__buttons;
		// letter-spacing: 0.03em;
		word-spacing: 0.2em;
		text-transform: uppercase;
		border-bottom: 1px solid $color__green;
	}

	.title-note{
		// <small> elements for forms inside titles
		display: block;
		padding-left: 1em;
		font-size: 0.6em;
	}

}

h1{
	@include font-size(44/$font__base-size);
	line-height: 1.2em;
	margin: 1.5em 0;

	// Page / Entry titles
	&.page-title,
	&.entry-title{
		@include font-size(72/$font__base-size);
		line-height: 1.1em;
		margin: 0;
		margin-bottom: 20px;
	}
}

// Main title in single
.single{
	.entry-title{
		@include font-size(50/$font__base-size);
	}
}

h2{
	@include font-size(33/$font__base-size);
	line-height: 1.2em;
	margin-top: 1.1em;
	margin-bottom: 0.6em;
}

h3{
	@include font-size(26/$font__base-size);
	line-height: 1.2em;
	margin-top: 1em;
	margin-bottom: 0.4em;
}

h4{
	@include font-size(20/$font__base-size);
	line-height: 1.2em;
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

h5{
	@include font-size(20/$font__base-size);
	line-height: 1.2em;
	margin-top: .5em;
	margin-bottom: 0.2em;
	font-weight: 300;
}

h6{
	@include font-size(1);
	line-height: 1.2em;
	margin-top: .5em;
	margin-bottom: 0.2em;
}
