@import "fontface";

body{
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(20/$font__base-size);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
