@media ( min-width: 900px ) {
	.main-navigation {
		width: 100%;

		ul{
			@include flexbox;
			@include justify-content(flex-end);
			@include align-items(center);
			list-style: none;
			padding: 0;
			margin: 0;

			ul{
				// Sub menus
				display: none;
				min-width: 200px;
				position: absolute;
				left: 0;
				top:	100%;
				padding-top: 5px;
				li{
					margin-bottom: 2px;
					&:after{
						content: none;
					}
				}
				a{
					display: block;
					font-family: $font__main;
					background-color: $color__green;
					height: auto;
					color: $color__brown;
					@include font-size(.9);
					line-height: 2em;
					font-weight: bold;
				}


				.current_page_item > a,
				.current-menu-item > a,
				.current_page_ancestor > a,
				.current-menu-ancestor > a,
				li:hover > a{
					background-color: darken($color__green, 10%);
					color: #FFF;
				}

				// sub sub-menu
				ul{
					top: 0;
					left: 100%;
					padding-top: 0;
					li{
						padding-left: 2px;
					}
					ul{
						// Últimos niveles no visibles
						display: none;
					}
				}
			}
		}

		a {
			display: block;
			font-family: $font__buttons;
			word-spacing: 0.2em;
			@include font-size(1.1);
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 16px;
			height: 1.2em;
			color: #FFF;
		}

		li {
			position: relative;
			padding: 0;

			&:after{
				content: '\2022';
				position: absolute;
				font-size: 30px;
				right: 0;
				top: 50%;
				line-height: 0;
				transform: translate(50%, -50%);
				color: #FFF;
			}

			&:before{
				content: none;
			}

			&:last-child{
				&:after{
					content: none;
				}
				a{
					padding-right: 0;
				}
			}

			a:focus + ul,
			&:hover > ul{
				display: block;
			}

			&:hover > a,
			&.focus > a {
				color: $color__green;
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__green;
		}

		.dl-back{
			display: none;
		}
	}

	/* Small menu. */
	.menu-toggle{
		display: none;
	}

	/* Fixed header */
	.not-home{
	  .fixed-header{
			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				color: $color__brown;
			}
			ul{
				ul a{
				 background-color: darken($color__green, 2%);
			 	}
		 		li{
		 			&:hover > a,
		 			&.focus > a {
		 				color: $color__brown;
		 			}
		 		}
			}
		}
	}
}

/* Infinite Scrolling */
.js{
	.posts-navigation{
		a{
			@include hide;
		}
		.nav-previous{
			margin: 2em 0;
			min-height: 40px;
			background: url(images/loading.gif) center center no-repeat;
			background-size: contain;
		}
		.no-more-items{
			background: none;
		}
	}
}
