@media (max-width: 900px) {
	/* Common styles of menus */
	.main-navigation {
		width: 100%;
		max-width: $size__mobile_menu;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-perspective-origin: 50% 200%;
		perspective-origin: 50% 200%;
		position: absolute;
		right: 0;
		top: 40px;
	}

	.main-navigation:first-child {
		margin-right: 100px;
	}

	.main-navigation button {
		border: none;
		width: 48px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		outline: none;
		float: right;
		border-radius: 0;
	}

	.main-navigation button:hover,
	.main-navigation button.dl-active,
	.main-navigation ul {
		// background: #aaa;
	}

	.main-navigation button:after {
		content: '';
		position: absolute;
		width: 68%;
		height: 5px;
		background: #fff;
		top: 10px;
		left: 16%;
		box-shadow:
			0 10px 0 #fff,
			0 20px 0 #fff;
	}

	.main-navigation ul {
		padding: 0;
		margin: 0;
		list-style: none;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.main-navigation li {
		position: relative;
		padding: 0;
		&:before{
			content: none;
		}
	}

	.main-navigation li a {
		display: block;
		position: relative;
		padding: 10px 20px;
		line-height: 1em;
		outline: none;

		font-family: $font__main;
		@include font-size(1);
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

	.no-touch .main-navigation li a:hover {
		// background: rgba(0, 0, 0, 0.21);
			background: $color__brown;
	}

	.main-navigation li.dl-back > a {
		padding-left: 30px;
		// color: $color__gray;
		background: darken( $color__green, 10% );
	}

	.main-navigation li.dl-back:after,
	.main-navigation li > a:not(:only-child):after {
		position: absolute;
		top: 0;
		padding: 10px 0;
		font-family: 'icomoon';
		speak: none;
		-webkit-font-smoothing: antialiased;
		content: "\e000";
		@include font-size(.7);
	}

	.main-navigation li.dl-back:after {
		left: 10px;
		color: #FFFFFF;
		line-height: 1em;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.main-navigation li > a:after {
		right: 10px;
		color: #FFFFFF;
	}

	.main-navigation .menu{
		margin: 5px 0 0 0;
		position: absolute;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		// ALto del botón flotado
		top: 45px;
	}

	.main-navigation .menu.dl-menu-toggle {
		transition: all 0.3s ease;
	}

	.main-navigation .menu.dl-menuopen {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	/* Hide the inner submenus */
	.main-navigation li .sub-menu {
		display: none;
	}

	/*
	When a submenu is openend, we will hide all li siblings.
	For that we give a class to the parent menu called "dl-subview".
	We also hide the submenu link.
	The opened submenu will get the class "dl-subviewopen".
	All this is done for any sub-level being entered.
	*/
	.menu.dl-subview li,
	.menu.dl-subview li.dl-subviewopen > a,
	.menu.dl-subview li.dl-subview > a {
		display: none;
	}

	.menu.dl-subview li.dl-subview,
	.menu.dl-subview li.dl-subview .sub-menu,
	.menu.dl-subview li.dl-subviewopen,
	.menu.dl-subview li.dl-subviewopen > .sub-menu,
	.menu.dl-subview li.dl-subviewopen > .sub-menu > li {
		display: block;
	}

	/* Dynamically added submenu outside of the menu context */
	.main-navigation > .sub-menu {
		position: absolute;
		width: 100%;
		top: 50px;
		left: 0;
		margin: 0;
	}

	/* Animation classes for moving out and in */

	.menu.dl-animate-out-1 {
		-webkit-animation: MenuAnimOut1 0.4s;
		animation: MenuAnimOut1 0.4s;
	}

	.menu.dl-animate-out-2 {
		-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
		animation: MenuAnimOut2 0.3s ease-in-out;
	}

	.menu.dl-animate-out-3 {
		-webkit-animation: MenuAnimOut3 0.4s ease;
		animation: MenuAnimOut3 0.4s ease;
	}

	.menu.dl-animate-out-4 {
		-webkit-animation: MenuAnimOut4 0.4s ease;
		animation: MenuAnimOut4 0.4s ease;
	}

	.menu.dl-animate-out-5 {
		-webkit-animation: MenuAnimOut5 0.4s ease;
		animation: MenuAnimOut5 0.4s ease;
	}

	@-webkit-keyframes MenuAnimOut1 {
		0% { }
		50% {
			-webkit-transform: translateZ(-250px) rotateY(30deg);
		}
		75% {
			-webkit-transform: translateZ(-372.5px) rotateY(15deg);
			opacity: .5;
		}
		100% {
			-webkit-transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
	}

	@-webkit-keyframes MenuAnimOut2 {
		0% { }
		100% {
			-webkit-transform: translateX(-100%);
			opacity: 0;
		}
	}

	@-webkit-keyframes MenuAnimOut3 {
		0% { }
		100% {
			-webkit-transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
	}

	@-webkit-keyframes MenuAnimOut4 {
		0% { }
		100% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
	}

	@-webkit-keyframes MenuAnimOut5 {
		0% { }
		100% {
			-webkit-transform: translateY(40%);
			opacity: 0;
		}
	}

	@keyframes MenuAnimOut1 {
		0% { }
		50% {
			-webkit-transform: translateZ(-250px) rotateY(30deg);
			transform: translateZ(-250px) rotateY(30deg);
		}
		75% {
			-webkit-transform: translateZ(-372.5px) rotateY(15deg);
			transform: translateZ(-372.5px) rotateY(15deg);
			opacity: .5;
		}
		100% {
			-webkit-transform: translateZ(-500px) rotateY(0deg);
			transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
	}

	@keyframes MenuAnimOut2 {
		0% { }
		100% {
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			opacity: 0;
		}
	}

	@keyframes MenuAnimOut3 {
		0% { }
		100% {
			-webkit-transform: translateZ($size__mobile_menu);
			transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
	}

	@keyframes MenuAnimOut4 {
		0% { }
		100% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
	}

	@keyframes MenuAnimOut5 {
		0% { }
		100% {
			-webkit-transform: translateY(40%);
			transform: translateY(40%);
			opacity: 0;
		}
	}

	.menu.dl-animate-in-1 {
		-webkit-animation: MenuAnimIn1 0.3s;
		animation: MenuAnimIn1 0.3s;
	}

	.menu.dl-animate-in-2 {
		-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
		animation: MenuAnimIn2 0.3s ease-in-out;
	}

	.menu.dl-animate-in-3 {
		-webkit-animation: MenuAnimIn3 0.4s ease;
		animation: MenuAnimIn3 0.4s ease;
	}

	.menu.dl-animate-in-4 {
		-webkit-animation: MenuAnimIn4 0.4s ease;
		animation: MenuAnimIn4 0.4s ease;
	}

	.menu.dl-animate-in-5 {
		-webkit-animation: MenuAnimIn5 0.4s ease;
		animation: MenuAnimIn5 0.4s ease;
	}

	@-webkit-keyframes MenuAnimIn1 {
		0% {
			-webkit-transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
		20% {
			-webkit-transform: translateZ(-250px) rotateY(30deg);
			opacity: 0.5;
		}
		100% {
			-webkit-transform: translateZ(0px) rotateY(0deg);
			opacity: 1;
		}
	}

	@-webkit-keyframes MenuAnimIn2 {
		0% {
			-webkit-transform: translateX(-100%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes MenuAnimIn3 {
		0% {
			-webkit-transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes MenuAnimIn4 {
		0% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes MenuAnimIn5 {
		0% {
			-webkit-transform: translateY(40%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes MenuAnimIn1 {
		0% {
			-webkit-transform: translateZ(-500px) rotateY(0deg);
			transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
		20% {
			-webkit-transform: translateZ(-250px) rotateY(30deg);
			transform: translateZ(-250px) rotateY(30deg);
			opacity: 0.5;
		}
		100% {
			-webkit-transform: translateZ(0px) rotateY(0deg);
			transform: translateZ(0px) rotateY(0deg);
			opacity: 1;
		}
	}

	@keyframes MenuAnimIn2 {
		0% {
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes MenuAnimIn3 {
		0% {
			-webkit-transform: translateZ($size__mobile_menu);
			transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
	}

	@keyframes MenuAnimIn4 {
		0% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
	}

	@keyframes MenuAnimIn5 {
		0% {
			-webkit-transform: translateY(40%);
			transform: translateY(40%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}
	}

	.main-navigation > .sub-menu.dl-animate-in-1 {
		-webkit-animation: SubMenuAnimIn1 0.4s ease;
		animation: SubMenuAnimIn1 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-in-2 {
		-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
		animation: SubMenuAnimIn2 0.3s ease-in-out;
	}

	.main-navigation > .sub-menu.dl-animate-in-3 {
		-webkit-animation: SubMenuAnimIn3 0.4s ease;
		animation: SubMenuAnimIn3 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-in-4 {
		-webkit-animation: SubMenuAnimIn4 0.4s ease;
		animation: SubMenuAnimIn4 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-in-5 {
		-webkit-animation: SubMenuAnimIn5 0.4s ease;
		animation: SubMenuAnimIn5 0.4s ease;
	}

	@-webkit-keyframes SubMenuAnimIn1 {
		0% {
			-webkit-transform: translateX(50%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes SubMenuAnimIn2 {
		0% {
			-webkit-transform: translateX(100%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes SubMenuAnimIn3 {
		0% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes SubMenuAnimIn4 {
		0% {
			-webkit-transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
	}

	@-webkit-keyframes SubMenuAnimIn5 {
		0% {
			-webkit-transform: translateZ(-200px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0);
			opacity: 1;
		}
	}

	@keyframes SubMenuAnimIn1 {
		0% {
			-webkit-transform: translateX(50%);
			transform: translateX(50%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes SubMenuAnimIn2 {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes SubMenuAnimIn3 {
		0% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
	}

	@keyframes SubMenuAnimIn4 {
		0% {
			-webkit-transform: translateZ($size__mobile_menu);
			transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
	}

	@keyframes SubMenuAnimIn5 {
		0% {
			-webkit-transform: translateZ(-200px);
			transform: translateZ(-200px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			opacity: 1;
		}
	}

	.main-navigation > .sub-menu.dl-animate-out-1 {
		-webkit-animation: SubMenuAnimOut1 0.4s ease;
		animation: SubMenuAnimOut1 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-out-2 {
		-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
		animation: SubMenuAnimOut2 0.3s ease-in-out;
	}

	.main-navigation > .sub-menu.dl-animate-out-3 {
		-webkit-animation: SubMenuAnimOut3 0.4s ease;
		animation: SubMenuAnimOut3 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-out-4 {
		-webkit-animation: SubMenuAnimOut4 0.4s ease;
		animation: SubMenuAnimOut4 0.4s ease;
	}

	.main-navigation > .sub-menu.dl-animate-out-5 {
		-webkit-animation: SubMenuAnimOut5 0.4s ease;
		animation: SubMenuAnimOut5 0.4s ease;
	}

	@-webkit-keyframes SubMenuAnimOut1 {
		0% {
			-webkit-transform: translateX(0%);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(50%);
			opacity: 0;
		}
	}

	@-webkit-keyframes SubMenuAnimOut2 {
		0% {
			-webkit-transform: translateX(0%);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(100%);
			opacity: 0;
		}
	}

	@-webkit-keyframes SubMenuAnimOut3 {
		0% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
	}

	@-webkit-keyframes SubMenuAnimOut4 {
		0% {
			-webkit-transform: translateZ(0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
	}

	@-webkit-keyframes SubMenuAnimOut5 {
		0% {
			-webkit-transform: translateZ(0);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-200px);
			opacity: 0;
		}
	}

	@keyframes SubMenuAnimOut1 {
		0% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(50%);
			transform: translateX(50%);
			opacity: 0;
		}
	}

	@keyframes SubMenuAnimOut2 {
		0% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			opacity: 0;
		}
	}

	@keyframes SubMenuAnimOut3 {
		0% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-$size__mobile_menu);
			transform: translateZ(-$size__mobile_menu);
			opacity: 0;
		}
	}

	@keyframes SubMenuAnimOut4 {
		0% {
			-webkit-transform: translateZ(0px);
			transform: translateZ(0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ($size__mobile_menu);
			transform: translateZ($size__mobile_menu);
			opacity: 0;
		}
	}

	@keyframes SubMenuAnimOut5 {
		0% {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-200px);
			transform: translateZ(-200px);
			opacity: 0;
		}
	}

	/* No JS Fallback */
	.no-js .main-navigation .menu{
		position: relative;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	.no-js .main-navigation li .sub-menu {
		display: block;
	}

	.no-js .main-navigation li.dl-back {
		display: none;
	}

	.no-js .main-navigation li > a:not(:only-child) {
		background: rgba(0,0,0,0.1);
	}

	.no-js .main-navigation li > a:not(:only-child):after {
		content: '';
	}

	/* Colors for demos */

	/* Demo 1 */
	.main-navigation button {
		background: $color__green;
	}

	.main-navigation button:hover,
	.main-navigation button.dl-active,
	.main-navigation ul {
		background-color: $color__green;
	}

} // Media 900px
