.site-footer{
  background-color: $color__green;
  color: #FFF;
  text-align: center;
  font-family: $font__titles;

  p{
    @include font-size(1.2);
    margin: .7em;
  }

  a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  svg{
    display: block;
    width: 35px;
    height: auto;
  }
  path{
    fill: #FFF;
  }
}
.back-to-top{
  display: none;
}
