// Header
.site-header{
  height: $size__header-height;
  position: relative;
  background-position: center center;
  background-size: cover;

  .content-wrap{
    @include flexbox;
    @include align-items(center);
    position: relative;
    z-index: 10;
  }

  &:after{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
  }
}

// Main Logo
.site-branding{
  width: $size__logo + 30px; // 2*15 de padding del <a>
  margin-top: -4px; // Ocultamos un poco la sombra
  @include flex-grow(0);
  @include flex-shrink(0);
  @include transition( $fixed_header_transition );

  a{
    display: block;
    @include diagonal-gradient( $color__green, darken($color__green, 10%) );
    padding: 15px;
    border-radius: 0% 0 100% 100%;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.6);
    @include transition( $fixed_header_transition );
  }
  svg{
    display: block;
    width: 100%;
    height: auto;
  }
  path,
  polygon{
    fill: #FFF;
    stroke-width: 0;
  }
}

// Fixed header

.header-inner-wrap{
  background-color: rgba($color__green, 0);
  @include transition( $fixed_header_transition );
}

@media (min-width: 900px) {
  // Sólo se aplica en escritorio
  .not-home{
    .header-inner-wrap{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
    }

    .fixed-header{
      .header-inner-wrap{
        background-color: $color__green;
      }
      .site-branding{
        width: $size__logo*.6 + 16px;
        margin-bottom: -25px;
        a{
          padding: 8px;
        }
      }
    }
  }
}
