/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.home{
  .site-header{
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-image: none !important;
    &:after{
      content: none;
    }
  }
  .content-area{
    padding-bottom: 0;
  }
}
/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
.home-slider-wrap{
  min-height: $size__slider;
  background: url(images/loading.gif) center center no-repeat;
}
.home-slider{
  position: relative;
  z-index: 5;

  // Owl Carousel
  .owl-stage-outer,
  .owl-stage,
  .owl-item{
    position: relative;
    height: 100%;
  }
  .disabled{
    display: none;
  }
  .owl-dots{
  	@include center-block;
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .owl-dot{
    $_tamano_boton: 15px;
    display: inline-block;
    display: inline-block;
    width: $_tamano_boton;
    height: $_tamano_boton;
    margin-left: 5px;
    border: 1px solid $color__green;
    background-color: $color__green;
    border-radius: $_tamano_boton;
    &.active{
      background-color: $color__brown;
    }
  }
  .owl-prev,
  .owl-next{
    position: absolute;
    top: 50%;
  }
}

.home-slider-slide{
  position: relative;
  min-height: $size__slider;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  img{
    // Las imágenes no las mostramos
    // porque van de fondo
    @include hide;
  }
  &:after{
    content: '';
    background-color: rgba( $color__brown, 0.45 );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

.home-slider-text{
  position: absolute;
  z-index: 10;
  text-align: center;
  left: $padding_normal*2;
  right: $padding_normal*2;
  bottom: 70px;

  h1{
    margin: 0;
    color: #FFF;
    @include font-size(4.5);

    small{
      display: block;
      font-family: $font__buttons;
      letter-spacing: 0.03em;
      word-spacing: 0.1em;
      text-transform: uppercase;
      font-size: .35em;
    }
  }
}

.home-slider-button{
  display: inline-block;
  @include font-size(1.2);
	line-height: 1.2em;
  font-family: $font__buttons;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: $color__green;

	padding: 0.8em 1.6em 0.45em 1.6em; // padding desparejo por tipografía de mierda
	border-radius: 2em;
  margin-top: 0.5em;

  &:after{
    content: '';
    font-family: Verdana, sans-serif;
  }

  &:hover{
    color: $color__green;
    background-color: #FFFFFF;
  }
}

.home-slider-buttons{
  position: relative;
  button{
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    z-index: 20;
    top: -1*($size__slider/2);
    height: 100px;
    &:hover{
      @include transform( scale(1.1) );
    }
  }
  svg{
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }

  path{
    fill: #FFF;
  }
}

.home-slider-prev{
  left: 0;
}
.home-slider-next{
  right: 0;
}

/*--------------------------------------------------------------
## Main Banner
--------------------------------------------------------------*/
.home-main-banner{
  background-color: $color__brown;
  border-top: 2px solid $color__green;
  position: relative;
  overflow: hidden;

  .content-wrap{
    position: static;
    padding: 0 70px;
  }

  a{
    display: block;
    min-height: $size__home-banner;
    text-decoration: none;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);

    &:after{
      content: '';
      width: 600px;
      height: 400%;
      background: $color__brown;
      border-right: 4px solid $color__green;
      position: absolute;
      z-index: 15;
      left: 40%;
      top: -250px;
      @include transform( translateX(-50%) rotate(-45deg));
    }
    &:hover{
      .home-banner-hover-text{
        display: block;
      }
      .home-banner-title{
        display: none;
      }
      img{
        @include transform( translateY(-50%) scale(1.1), 100% 50% );
      }
    }
  }

  img{
    @include transition( all 0.3s ease-in-out );
    position: absolute;
    width: 60%;
    height: auto;
    z-index: 10;
    right: 0;
    top: 50%;
    @include transform( translateY(-50%), 100% 50% );
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    left: -10%;
    right: -10%;
    top: 0;
    height: 100%;
    z-index: 40;
    box-shadow: inset 0 0 103px 15px #000;
    pointer-events: none;
  }
}
.home-banner-text{
  width: 50%;
  // background-color: $color__brown;
  position: relative;
  z-index: 20;
}
.home-banner-hover-text{
  display: none;
  margin: 0;
  color: #FFF;
  font-family: $font__titles;
  @include font-size(1.9);

  strong{
    display: block;
    font-family: $font__buttons;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    @include font-size(2.5);
    margin-top: .3em;
  }

  p{
    margin:0;
    @include font-size(2);
  }
}
.home-banner-title{
  font-family: $font__buttons;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  text-transform: uppercase;
  @include font-size(2.8);
  margin: 0;
}

/*--------------------------------------------------------------
## Bottom Banners
--------------------------------------------------------------*/
.home-banners-row{
  @include flexbox;
  border-top: 2px solid $color__green;
}

.home-bottom-banner{
  display: block;
  width: 33.333%;
  padding: 30px 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  @include transition(.6s);
  text-decoration: none;

  svg{
    display: block;
    width: 50%;
    max-height: 100%;
    height: auto;
    @include center-block;
    margin-bottom: 30px;
  }
  path, circle, polygon{
    fill: #FFFFFF;
    stroke: none;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    background-color: rgba($color__brown, 0.3);
    @include transition(.6s);
  }

  &:nth-child(2){
    border-left: 2px solid $color__green;
    border-right: 2px solid $color__green;
  }
}

/* Panel de texto del banner */
.flip-container{
  position: relative;
  z-index: 10;
}
.flip-front{
  z-index: 2;
}
.flip-back {
  background-color: rgba($color__brown, 0.8);
  padding: 0 20px;
  margin: 0 20px;
  color: #FFF;
  text-align: center;
  font-family: $font__titles;
  @include font-size(1.1);

  &:before, &:after{
    content: '\2605\2605\2605\2605';
    display: block;
    font-size: 10px;
    color: $color__green;
    text-align: center;
    padding: 20px 0 15px 0;
  }
}


/* Animación hover (solo en desktop) */
@media (min-width: 900px) {

  /* entire container, keeps perspective */
  .flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  .flip-container, .flip-front, .flip-back {
  	width: 240px;
  }

  /* flip speed goes here */
  .flipper {
  	@include transition( 0.6s );
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

  	position: relative;
  }

  /* hide back of pane during swap */
  .flip-front, .flip-back {
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;

  	position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
  }

  /* front pane, placed above back */
  .flip-front {
  	@include transform(translateY(-50%) rotateY(0deg));
  }
  /* back, initially hidden pane */
  .flip-back {
    @include transform(translateY(-50%) rotateY(180deg));
  }

  /* Hover */
  .home-bottom-banner{
    padding: 0;
    height: $size__home-bottom-banners;

    svg{
      margin-bottom: 0;
      width: 72%;
    }

    &:hover{
      background-size: auto 120%;
      .flipper{
        @include transform(rotateY(180deg));
      }
      &:after{
        background-color: rgba($color__brown, 0.6);
      }
    }
  }

}
