.sugar-hills-cafe-wrap{
  @include flexbox;
  @include flex-direction(row-reverse);
}
.sugar-hills-cafe-text{
  @include flex-grow(1);
  .page-title{
    margin-bottom: $padding_normal*2.5;
  }
}
.sugar-hills-cafe-text-content{
  @include flexbox;
  @include flex-direction(row-reverse);
  &>div{
    @include flex-basis(320px);
    @include flex-grow(0);
    @include flex-shrink(0);
    padding-right: 2em;
  }
}
.sugar-hills-cafe-text-image{
  display: block;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}
.sugar-hills-cafe-menu{
  @include flex-basis(240px);
  @include flex-grow(0);
  @include flex-shrink(0);
  padding-left: $padding_normal*1.5;
  margin-left: $padding_normal*1.5;
  border-left: 1px dashed $color__green;

  a{
    text-transform: uppercase;
    text-decoration: none;
    color: $color__brown;
    font-family: $font__buttons;
    font-weight: normal;
    display: inline-block;
    @include font-size(1.2);
    line-height: 1.7em;
    word-spacing: 0.2em;
  }
  li{
    &:before{
      color: $color__brown;
      font-size: 20px;
    }
  }

  svg{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 105px;
    height: auto;
    margin-bottom: 10px;
    path{
      fill: $color__brown;
    }
  }

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor,
	li:hover{
    &:before,
		& > a{
      color: $color__green;
    }
	}
}
