ul, ol {
	margin: 0 0 1.4em 0;
	font-family: $font__main;
	li{
		line-height: 1em;
		letter-spacing: -0.03em;
	}
}

ul {
	list-style: none;
	padding-left: 0;

	li{
		position: relative;
		padding-left: 0.6em;
		line-height: 1.4em;
		&:before{
			content: '\2022';
			font-size: 31px;
			line-height: 1em;
			color: $color__green;
			position: absolute;
			left: 0;
			top: 0;
			// margin-left: 0;
			// line-height: 1em;
			// display: inline-block;
			// vertical-align: middle;
			// margin-right: 0.15em;
			// line-height: 1em;
		}
	}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
