.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: #FFF;
	font-family: $font__buttons;
	word-spacing: 0.2em;
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&[disabled]{
		opacity: .5;
		&:after{
			// Sombra
			content: none;
		}
	}
}

// Sugar Hills button
.sugar-hills-button{
	display: inline-block;
	background-color: $color__green;
	// border: 1px solid black;
	// font-family: Verdana, Arial, sans-serif;
	font-family: $font__buttons;
	word-spacing: 0.2em;
	@include font-size(1);
	line-height: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	padding: 0.8em 1.6em;
	border-radius: 2em;
	position: relative;
	@include transition( all 0.2s ease-out );
	margin: 0 .3em;

	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 3px;
    top: 0;
    width: 97%;
    height: 84%;
    z-index: -1;
		border-radius: 2em;
		box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.3);
		@include transform( rotate(1deg) skewX(-2deg), 0 0 );
		@include transition( all 0.2s ease-out );
	}

	&:hover{
		background-color: darken($color__green, 10%);
	}

	span{
		// // Corrección de altura de línea de mala tipografía
		// @include transform(translateY(.2em));
		// display: inline-block;
	}

	&.button-l{
		@include font-size(1.25);
	}
	&.button-xl{
		@include font-size(1.5);
	}
}

.sugar-hills-button-simple{
	display: inline-block;
	margin-top: 1em;
	color: $color__brown;
	font-family: $font__buttons;
	word-spacing: 0.2em;
	@include font-size(1);

	&:hover{
		color: $color__green;
	}
}
