/* Mailchimp Popup */
.mc-modal-bg{
  background-color: $color__brown;
  opacity: .7 !important;
}

/* booking calendar */
.sh-calendar{
  &>input{
    visibility: hidden;
    position: absolute;
    left: -3333px;
  }
}
.react-calendar{
  margin-bottom: 1em;
  border: 1px solid $color__brown;

  button{
    color: #000;
    border-radius: 0;
  }

  .react-calendar__navigation{
    margin-bottom: 0;
  }
  .react-calendar__tile--active{
    background-color: darken($color__green, 20%);
  }
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile--active:enabled:hover{
    background-color: $color__green;
  }
}
.sh-calendar-available-times{
  margin-bottom: 1em;
  label{
    display: inline-block;
    margin-right: 1em;
  }
}