button,
input,
select,
textarea{
	@include font-size( 1 );
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	padding: 3px;
	background-color: #FFF;
	min-width: 12em;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


// Labels
label{
	cursor: pointer;
	&.error{
		// Initially hidden, shown by js plugin
		display: block;
		color: red;
		font-family: $font__main;
		font-weight: 400;
		@include font-size(1);
	}
}

.form-text-fields{
	margin-bottom: 2em;

  label{
    display: block;
  }
  input{
    display: block;
		width: 100%;
    max-width: 300px;
  }
	input[type="radio"],
	input[type="checkbox"]{
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
	p{
		margin-bottom: .3em;
	}
}
