/*!
Theme Name: Sugar Hills Bakery
Theme URI: http://underscores.me/
Author: A:BRA
Author URI: https://abracreativa.com/
Description: WordPress theme for Sugar Hills Bakery
Version: 1.0.0
Text Domain: sugar-hills

Sugar Hills Bakery is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}svg{max-height:100%}/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.row{margin-left:-15px;margin-right:-15px}.row:after{content:"";display:block;clear:both}.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0%}@media (min-width: 768px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0%}}@media (min-width: 992px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0%}}@media (min-width: 1200px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0%}}.bricklayer{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;-moz-align-items:flex-start;align-items:flex-start;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.bricklayer-column-sizer{width:100%;display:none}.bricklayer-column{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;padding-left:0;padding-right:0}.content-wrap{position:relative;max-width:1200px;display:block;margin-left:auto;margin-right:auto}.content-area{padding-bottom:40px}html,body,#page{min-height:100vh}#page{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column}#content{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1}.sugar-hills-grid{-moz-column-count:4;-moz-column-gap:5px;-webkit-column-count:4;-webkit-column-gap:5px;column-count:4;column-gap:5px;-webkit-column-rule-width:none;-moz-column-rule-width:none;column-rule-width:none;-webkit-column-rule-style:auto;-moz-column-rule-style:auto;column-rule-style:auto;-webkit-column-rule-color:auto;-moz-column-rule-color:auto;column-rule-color:auto;column-fill:balance;-moz-column-fill:balance;-webkit-column-fill:balance}.sugar-hills-grid-item{padding:5px}.sugar-hills-grid-item img{display:block;width:100%;height:auto}.js .sugar-hills-grid{-moz-column-count:inherit;-moz-column-gap:0;-webkit-column-count:inherit;-webkit-column-gap:0;column-count:inherit;column-gap:0;-webkit-column-rule-width:none;-moz-column-rule-width:none;column-rule-width:none;-webkit-column-rule-style:auto;-moz-column-rule-style:auto;column-rule-style:auto;-webkit-column-rule-color:auto;-moz-column-rule-color:auto;column-rule-color:auto;column-fill:balance;-moz-column-fill:balance;-webkit-column-fill:balance}.js .bricklayer-column,.js .bricklayer-column-sizer{width:25%}@media screen and (max-width: 640px){.js .bricklayer-column,.js .bricklayer-column-sizer{width:100%}}@media screen and (min-width: 640px){.js .bricklayer-column,.js .bricklayer-column-sizer{width:50%}}@media screen and (min-width: 980px){.js .bricklayer-column,.js .bricklayer-column-sizer{width:33.333%}}@media screen and (min-width: 1200px){.js .bricklayer-column,.js .bricklayer-column-sizer{width:25%}}form{display:none}.js form{display:block}.radio-toggle-container{display:none;padding-left:3em;margin-top:1em;margin-bottom:1em}.radio-toggle-container.disabled input,.radio-toggle-container.disabled textarea,.radio-toggle-container.disabled select{display:none}.radio-toggle-container p:last-child,.radio-toggle-container div:last-child{margin-bottom:0}.radio-toggle-container p:first-child,.radio-toggle-container div:first-child{margin-top:0}.g-map{height:300px;width:100%}@font-face{font-family:'Bebas';src:url("fonts/BEBAS___-webfont.eot");src:url("fonts/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"),url("fonts/BEBAS___-webfont.woff") format("woff"),url("fonts/BEBAS___-webfont.ttf") format("truetype"),url("fonts/BEBAS___-webfont.svg#bebasregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot");src:url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("fonts/icomoon.woff") format("woff"),url("fonts/icomoon.ttf") format("truetype"),url("fonts/icomoon.svg#icomoon") format("svg");font-weight:normal;font-style:normal}body{color:#311901;font-family:"Roboto Condensed",sans-serif;font-size:20px;font-size:1.25rem;line-height:1.5}h1,h2,h3,h4,h5,h6{font-family:"Prata",serif;font-weight:400;clear:both;margin-top:0}h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0}h1.separator-title,h2.separator-title,h3.separator-title,h4.separator-title,h5.separator-title,h6.separator-title{font-family:"Bebas",sans-serif;word-spacing:0.2em;text-transform:uppercase;border-bottom:1px solid #94c1ad}h1 .title-note,h2 .title-note,h3 .title-note,h4 .title-note,h5 .title-note,h6 .title-note{display:block;padding-left:1em;font-size:0.6em}h1{font-size:44px;font-size:2.75rem;line-height:1.2em;margin:1.5em 0}h1.page-title,h1.entry-title{font-size:72px;font-size:4.5rem;line-height:1.1em;margin:0;margin-bottom:20px}.single .entry-title{font-size:50px;font-size:3.125rem}h2{font-size:33px;font-size:2.0625rem;line-height:1.2em;margin-top:1.1em;margin-bottom:0.6em}h3{font-size:26px;font-size:1.625rem;line-height:1.2em;margin-top:1em;margin-bottom:0.4em}h4{font-size:20px;font-size:1.25rem;line-height:1.2em;margin-top:0.6em;margin-bottom:0.4em}h5{font-size:20px;font-size:1.25rem;line-height:1.2em;margin-top:.5em;margin-bottom:0.2em;font-weight:300}h6{font-size:16px;font-size:1rem;line-height:1.2em;margin-top:.5em;margin-bottom:0.2em}p{font-size:19.2px;font-size:1.2rem;margin-bottom:1em;margin-top:0}p:first-child{margin-top:0}dfn,cite,em,i{font-style:italic}blockquote{margin:0 2.5em}address{margin:0 0 2.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}.sugar-hills-text-columns{-moz-column-count:3;-moz-column-gap:1em;-webkit-column-count:3;-webkit-column-gap:1em;column-count:3;column-gap:1em;-webkit-column-rule-width:none;-moz-column-rule-width:none;column-rule-width:none;-webkit-column-rule-style:auto;-moz-column-rule-style:auto;column-rule-style:auto;-webkit-column-rule-color:auto;-moz-column-rule-color:auto;column-rule-color:auto;column-fill:balance;-moz-column-fill:balance;-webkit-column-fill:balance;margin-bottom:1.5em}.sugar-hills-text-columns label{display:inline-block}.sugar-hills-highlight p{font-size:16px;font-size:1rem;display:inline-block;background-color:#e5f0eb;padding:.5em 1em .2em 1em;font-family:"Bebas",sans-serif;word-spacing:0.2em}.sugar-hills-message{padding:.4em 1em;border:1px solid}.sugar-hills-message.sh-msg-error{color:#ff472e;border-color:#ff472e}.sugar-hills-message.sh-msg-success{color:#0eb000;border-color:#0eb000}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}blockquote,q{quotes:"" ""}blockquote:before,blockquote:after,q:before,q:after{content:""}hr{border:0;border-bottom:1px dashed #311901;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.4em 0;font-family:"Roboto Condensed",sans-serif}ul li,ol li{line-height:1em;letter-spacing:-0.03em}ul{list-style:none;padding-left:0}ul li{position:relative;padding-left:0.6em;line-height:1.4em}ul li:before{content:'\2022';font-size:31px;line-height:1em;color:#94c1ad;position:absolute;left:0;top:0}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:0 0 1em 0}table{margin:0 0 1.5em;width:100%}.button,button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:transparent;border-radius:3px;background:#94c1ad;color:#FFF;font-family:"Bebas",sans-serif;word-spacing:0.2em;font-size:16px;font-size:1rem;line-height:1;padding:.6em 1em .4em}.button:hover,button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}.button:active,.button:focus,button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}.button[disabled],button[disabled],input[type="button"][disabled],input[type="reset"][disabled],input[type="submit"][disabled]{opacity:.5}.button[disabled]:after,button[disabled]:after,input[type="button"][disabled]:after,input[type="reset"][disabled]:after,input[type="submit"][disabled]:after{content:none}.sugar-hills-button{display:inline-block;background-color:#94c1ad;font-family:"Bebas",sans-serif;word-spacing:0.2em;font-size:16px;font-size:1rem;line-height:1.2em;text-transform:uppercase;text-decoration:none;color:#FFF;padding:0.8em 1.6em;border-radius:2em;position:relative;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;margin:0 .3em}.sugar-hills-button:after{content:'';display:block;position:absolute;left:3px;top:0;width:97%;height:84%;z-index:-1;border-radius:2em;box-shadow:4px 4px 8px 1px rgba(0,0,0,0.3);-webkit-transform:rotate(1deg) skewX(-2deg);-moz-transform:rotate(1deg) skewX(-2deg);-ms-transform:rotate(1deg) skewX(-2deg);-o-transform:rotate(1deg) skewX(-2deg);transform:rotate(1deg) skewX(-2deg);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;-o-transform-origin:0 0;transform-origin:0 0;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out}.sugar-hills-button:hover{background-color:#74ae94}.sugar-hills-button.button-l{font-size:20px;font-size:1.25rem}.sugar-hills-button.button-xl{font-size:24px;font-size:1.5rem}.sugar-hills-button-simple{display:inline-block;margin-top:1em;color:#311901;font-family:"Bebas",sans-serif;word-spacing:0.2em;font-size:16px;font-size:1rem}.sugar-hills-button-simple:hover{color:#94c1ad}button,input,select,textarea{font-size:16px;font-size:1rem}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea,select{color:#311901;border:1px solid #94c1ad;border-radius:0;padding:3px;background-color:#FFF;min-width:12em}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus,select:focus{color:#311901}select{border:1px solid #94c1ad}textarea{width:100%}label{cursor:pointer}label.error{display:block;color:red;font-family:"Roboto Condensed",sans-serif;font-weight:400;font-size:16px;font-size:1rem}.form-text-fields{margin-bottom:2em}.form-text-fields label{display:block}.form-text-fields input{display:block;width:100%;max-width:300px}.form-text-fields input[type="radio"],.form-text-fields input[type="checkbox"]{display:inline-block;vertical-align:middle;width:auto}.form-text-fields p{margin-bottom:.3em}.mc-modal-bg{background-color:#311901;opacity:.7 !important}.sh-calendar>input{visibility:hidden;position:absolute;left:-3333px}.react-calendar{margin-bottom:1em;border:1px solid #311901}.react-calendar button{color:#000;border-radius:0}.react-calendar .react-calendar__navigation{margin-bottom:0}.react-calendar .react-calendar__tile--active{background-color:#58977b}.react-calendar .react-calendar__tile--active:enabled:focus,.react-calendar .react-calendar__tile--active:enabled:hover{background-color:#94c1ad}.sh-calendar-available-times{margin-bottom:1em}.sh-calendar-available-times label{display:inline-block;margin-right:1em}/*! jQuery UI - v1.12.1 - 2017-06-19
* http://jqueryui.com
* Includes: core.css, datepicker.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=pepper-grinder&cornerRadiusShadow=18px&offsetLeftShadow=-10px&offsetTopShadow=0&thicknessShadow=5px&opacityShadow=60&bgImgOpacityShadow=40&bgTextureShadow=diagonal_maze&bgColorShadow=000000&opacityOverlay=60&bgImgOpacityOverlay=20&bgTextureOverlay=diagonal_maze&bgColorOverlay=6e4f1c&iconColorError=fbdb93&fcError=ffffff&borderColorError=681818&bgImgOpacityError=68&bgTextureError=fine_grain&bgColorError=b83400&iconColorHighlight=3572ac&fcHighlight=3a3427&borderColorHighlight=b2a266&bgImgOpacityHighlight=15&bgTextureHighlight=fine_grain&bgColorHighlight=f7f3de&iconColorActive=8c291d&fcActive=140f06&borderColorActive=d9d6c4&bgImgOpacityActive=15&bgTextureActive=fine_grain&bgColorActive=eceadf&iconColorHover=ffffff&fcHover=ffffff&borderColorHover=654b24&bgImgOpacityHover=65&bgTextureHover=fine_grain&bgColorHover=654b24&iconColorDefault=b83400&fcDefault=654b24&borderColorDefault=cbc7bd&bgImgOpacityDefault=10&bgTextureDefault=fine_grain&bgColorDefault=f8f7f6&iconColorContent=222222&fcContent=1f1f1f&borderColorContent=d9d6c4&bgImgOpacityContent=10&bgTextureContent=fine_grain&bgColorContent=eceadf&iconColorHeader=b83400&fcHeader=453821&borderColorHeader=d4d1bf&bgImgOpacityHeader=15&bgTextureHeader=fine_grain&bgColorHeader=ffffff&cornerRadius=6px&fsDefault=1.1em&fwDefault=bold&ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default !important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;left:.5em;top:.3em}.ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em}.ui-widget.ui-widget-content{border:1px solid #cbc7bd;font-size:14.4px;font-size:.9rem}.ui-widget-content{border:1px solid #d9d6c4;background:#eceadf url("images/jquery-ui/ui-bg_fine-grain_10_eceadf_60x60.png") 50% 50% repeat;color:#1f1f1f}.ui-widget-content a{color:#1f1f1f}.ui-widget-header{border:1px solid #d4d1bf;background:#fff url("images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png") 50% 50% repeat;color:#453821;font-weight:bold}.ui-widget-header a{color:#453821}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #cbc7bd;background:#f8f7f6 url("images/jquery-ui/ui-bg_fine-grain_10_f8f7f6_60x60.png") 50% 50% repeat;font-weight:bold;color:#654b24}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#654b24;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #654b24;background:#654b24 url("images/jquery-ui/ui-bg_fine-grain_65_654b24_60x60.png") 50% 50% repeat;font-weight:bold;color:#ffffff}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#ffffff;text-decoration:none}.ui-visual-focus{box-shadow:0 0 3px 1px #5e9ed6}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #d9d6c4;background:#eceadf url("images/jquery-ui/ui-bg_fine-grain_15_eceadf_60x60.png") 50% 50% repeat;font-weight:bold;color:#140f06}.ui-icon-background,.ui-state-active .ui-icon-background{border:#d9d6c4;background-color:#140f06}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#140f06;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #b2a266;background:#f7f3de url("images/jquery-ui/ui-bg_fine-grain_15_f7f3de_60x60.png") 50% 50% repeat;color:#3a3427}.ui-state-checked{border:1px solid #b2a266;background:#f7f3de}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#3a3427}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #681818;background:#b83400 url("images/jquery-ui/ui-bg_fine-grain_68_b83400_60x60.png") 50% 50% repeat;color:#ffffff}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#ffffff}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#ffffff}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("images/jquery-ui/ui-icons_222222_256x240.png")}.ui-widget-header .ui-icon{background-image:url("images/jquery-ui/ui-icons_b83400_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url("images/jquery-ui/ui-icons_ffffff_256x240.png")}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url("images/jquery-ui/ui-icons_8c291d_256x240.png")}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url("images/jquery-ui/ui-icons_3572ac_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("images/jquery-ui/ui-icons_fbdb93_256x240.png")}.ui-button .ui-icon{background-image:url("images/jquery-ui/ui-icons_b83400_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-caret-1-n{background-position:0 0}.ui-icon-caret-1-ne{background-position:-16px 0}.ui-icon-caret-1-e{background-position:-32px 0}.ui-icon-caret-1-se{background-position:-48px 0}.ui-icon-caret-1-s{background-position:-65px 0}.ui-icon-caret-1-sw{background-position:-80px 0}.ui-icon-caret-1-w{background-position:-96px 0}.ui-icon-caret-1-nw{background-position:-112px 0}.ui-icon-caret-2-n-s{background-position:-128px 0}.ui-icon-caret-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-65px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-65px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:1px -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:6px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:6px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:6px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:6px}.ui-widget-overlay{background:#6e4f1c url("images/jquery-ui/ui-bg_diagonal-maze_20_6e4f1c_10x10.png") 50% 50% repeat;opacity:.6;filter:Alpha(Opacity=60)}.ui-widget-shadow{-webkit-box-shadow:-10px 0 5px #000000;box-shadow:-10px 0 5px #000000}a{color:#94c1ad;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}a:focus{outline:thin dotted}a:hover,a:active{outline:0}@media (min-width: 900px){.main-navigation{width:100%}.main-navigation ul{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;list-style:none;padding:0;margin:0}.main-navigation ul ul{display:none;min-width:200px;position:absolute;left:0;top:100%;padding-top:5px}.main-navigation ul ul li{margin-bottom:2px}.main-navigation ul ul li:after{content:none}.main-navigation ul ul a{display:block;font-family:"Roboto Condensed",sans-serif;background-color:#94c1ad;height:auto;color:#311901;font-size:14.4px;font-size:.9rem;line-height:2em;font-weight:bold}.main-navigation ul ul .current_page_item>a,.main-navigation ul ul .current-menu-item>a,.main-navigation ul ul .current_page_ancestor>a,.main-navigation ul ul .current-menu-ancestor>a,.main-navigation ul ul li:hover>a{background-color:#74ae94;color:#FFF}.main-navigation ul ul ul{top:0;left:100%;padding-top:0}.main-navigation ul ul ul li{padding-left:2px}.main-navigation ul ul ul ul{display:none}.main-navigation a{display:block;font-family:"Bebas",sans-serif;word-spacing:0.2em;font-size:17.6px;font-size:1.1rem;text-decoration:none;text-transform:uppercase;padding:0 16px;height:1.2em;color:#FFF}.main-navigation li{position:relative;padding:0}.main-navigation li:after{content:'\2022';position:absolute;font-size:30px;right:0;top:50%;line-height:0;transform:translate(50%, -50%);color:#FFF}.main-navigation li:before{content:none}.main-navigation li:last-child:after{content:none}.main-navigation li:last-child a{padding-right:0}.main-navigation li a:focus+ul,.main-navigation li:hover>ul{display:block}.main-navigation li:hover>a,.main-navigation li.focus>a{color:#94c1ad}.main-navigation .current_page_item>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current-menu-ancestor>a{color:#94c1ad}.main-navigation .dl-back{display:none}.menu-toggle{display:none}.not-home .fixed-header .current_page_item>a,.not-home .fixed-header .current-menu-item>a,.not-home .fixed-header .current_page_ancestor>a,.not-home .fixed-header .current-menu-ancestor>a{color:#311901}.not-home .fixed-header ul ul a{background-color:#8ebda8}.not-home .fixed-header ul li:hover>a,.not-home .fixed-header ul li.focus>a{color:#311901}}.js .posts-navigation a{position:absolute !important;top:-9999px !important;left:-9999px !important}.js .posts-navigation .nav-previous{margin:2em 0;min-height:40px;background:url(images/loading.gif) center center no-repeat;background-size:contain}.js .posts-navigation .no-more-items{background:none}@media (max-width: 900px){.main-navigation{width:100%;max-width:230px;-webkit-perspective:1000px;perspective:1000px;-webkit-perspective-origin:50% 200%;perspective-origin:50% 200%;position:absolute;right:0;top:40px}.main-navigation:first-child{margin-right:100px}.main-navigation button{border:none;width:48px;height:45px;text-indent:-900em;overflow:hidden;position:relative;cursor:pointer;outline:none;float:right;border-radius:0}.main-navigation button:after{content:'';position:absolute;width:68%;height:5px;background:#fff;top:10px;left:16%;box-shadow:0 10px 0 #fff, 0 20px 0 #fff}.main-navigation ul{padding:0;margin:0;list-style:none;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.main-navigation li{position:relative;padding:0}.main-navigation li:before{content:none}.main-navigation li a{display:block;position:relative;padding:10px 20px;line-height:1em;outline:none;font-family:"Roboto Condensed",sans-serif;font-size:16px;font-size:1rem;font-weight:bold;text-decoration:none;text-transform:uppercase;color:#FFF}.no-touch .main-navigation li a:hover{background:#311901}.main-navigation li.dl-back>a{padding-left:30px;background:#74ae94}.main-navigation li.dl-back:after,.main-navigation li>a:not(:only-child):after{position:absolute;top:0;padding:10px 0;font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";font-size:11.2px;font-size:.7rem}.main-navigation li.dl-back:after{left:10px;color:#FFFFFF;line-height:1em;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.main-navigation li>a:after{right:10px;color:#FFFFFF}.main-navigation .menu{margin:5px 0 0 0;position:absolute;width:100%;opacity:0;pointer-events:none;-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-backface-visibility:hidden;backface-visibility:hidden;top:45px}.main-navigation .menu.dl-menu-toggle{transition:all 0.3s ease}.main-navigation .menu.dl-menuopen{opacity:1;pointer-events:auto;-webkit-transform:translateY(0px);transform:translateY(0px)}.main-navigation li .sub-menu{display:none}.menu.dl-subview li,.menu.dl-subview li.dl-subviewopen>a,.menu.dl-subview li.dl-subview>a{display:none}.menu.dl-subview li.dl-subview,.menu.dl-subview li.dl-subview .sub-menu,.menu.dl-subview li.dl-subviewopen,.menu.dl-subview li.dl-subviewopen>.sub-menu,.menu.dl-subview li.dl-subviewopen>.sub-menu>li{display:block}.main-navigation>.sub-menu{position:absolute;width:100%;top:50px;left:0;margin:0}.menu.dl-animate-out-1{-webkit-animation:MenuAnimOut1 0.4s;animation:MenuAnimOut1 0.4s}.menu.dl-animate-out-2{-webkit-animation:MenuAnimOut2 0.3s ease-in-out;animation:MenuAnimOut2 0.3s ease-in-out}.menu.dl-animate-out-3{-webkit-animation:MenuAnimOut3 0.4s ease;animation:MenuAnimOut3 0.4s ease}.menu.dl-animate-out-4{-webkit-animation:MenuAnimOut4 0.4s ease;animation:MenuAnimOut4 0.4s ease}.menu.dl-animate-out-5{-webkit-animation:MenuAnimOut5 0.4s ease;animation:MenuAnimOut5 0.4s ease}@-webkit-keyframes MenuAnimOut1{50%{-webkit-transform:translateZ(-250px) rotateY(30deg)}75%{-webkit-transform:translateZ(-372.5px) rotateY(15deg);opacity:.5}100%{-webkit-transform:translateZ(-500px) rotateY(0deg);opacity:0}}@-webkit-keyframes MenuAnimOut2{100%{-webkit-transform:translateX(-100%);opacity:0}}@-webkit-keyframes MenuAnimOut3{100%{-webkit-transform:translateZ(230px);opacity:0}}@-webkit-keyframes MenuAnimOut4{100%{-webkit-transform:translateZ(-230px);opacity:0}}@-webkit-keyframes MenuAnimOut5{100%{-webkit-transform:translateY(40%);opacity:0}}@keyframes MenuAnimOut1{50%{-webkit-transform:translateZ(-250px) rotateY(30deg);transform:translateZ(-250px) rotateY(30deg)}75%{-webkit-transform:translateZ(-372.5px) rotateY(15deg);transform:translateZ(-372.5px) rotateY(15deg);opacity:.5}100%{-webkit-transform:translateZ(-500px) rotateY(0deg);transform:translateZ(-500px) rotateY(0deg);opacity:0}}@keyframes MenuAnimOut2{100%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0}}@keyframes MenuAnimOut3{100%{-webkit-transform:translateZ(230px);transform:translateZ(230px);opacity:0}}@keyframes MenuAnimOut4{100%{-webkit-transform:translateZ(-230px);transform:translateZ(-230px);opacity:0}}@keyframes MenuAnimOut5{100%{-webkit-transform:translateY(40%);transform:translateY(40%);opacity:0}}.menu.dl-animate-in-1{-webkit-animation:MenuAnimIn1 0.3s;animation:MenuAnimIn1 0.3s}.menu.dl-animate-in-2{-webkit-animation:MenuAnimIn2 0.3s ease-in-out;animation:MenuAnimIn2 0.3s ease-in-out}.menu.dl-animate-in-3{-webkit-animation:MenuAnimIn3 0.4s ease;animation:MenuAnimIn3 0.4s ease}.menu.dl-animate-in-4{-webkit-animation:MenuAnimIn4 0.4s ease;animation:MenuAnimIn4 0.4s ease}.menu.dl-animate-in-5{-webkit-animation:MenuAnimIn5 0.4s ease;animation:MenuAnimIn5 0.4s ease}@-webkit-keyframes MenuAnimIn1{0%{-webkit-transform:translateZ(-500px) rotateY(0deg);opacity:0}20%{-webkit-transform:translateZ(-250px) rotateY(30deg);opacity:0.5}100%{-webkit-transform:translateZ(0px) rotateY(0deg);opacity:1}}@-webkit-keyframes MenuAnimIn2{0%{-webkit-transform:translateX(-100%);opacity:0}100%{-webkit-transform:translateX(0px);opacity:1}}@-webkit-keyframes MenuAnimIn3{0%{-webkit-transform:translateZ(230px);opacity:0}100%{-webkit-transform:translateZ(0px);opacity:1}}@-webkit-keyframes MenuAnimIn4{0%{-webkit-transform:translateZ(-230px);opacity:0}100%{-webkit-transform:translateZ(0px);opacity:1}}@-webkit-keyframes MenuAnimIn5{0%{-webkit-transform:translateY(40%);opacity:0}100%{-webkit-transform:translateY(0);opacity:1}}@keyframes MenuAnimIn1{0%{-webkit-transform:translateZ(-500px) rotateY(0deg);transform:translateZ(-500px) rotateY(0deg);opacity:0}20%{-webkit-transform:translateZ(-250px) rotateY(30deg);transform:translateZ(-250px) rotateY(30deg);opacity:0.5}100%{-webkit-transform:translateZ(0px) rotateY(0deg);transform:translateZ(0px) rotateY(0deg);opacity:1}}@keyframes MenuAnimIn2{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0}100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1}}@keyframes MenuAnimIn3{0%{-webkit-transform:translateZ(230px);transform:translateZ(230px);opacity:0}100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}}@keyframes MenuAnimIn4{0%{-webkit-transform:translateZ(-230px);transform:translateZ(-230px);opacity:0}100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}}@keyframes MenuAnimIn5{0%{-webkit-transform:translateY(40%);transform:translateY(40%);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}.main-navigation>.sub-menu.dl-animate-in-1{-webkit-animation:SubMenuAnimIn1 0.4s ease;animation:SubMenuAnimIn1 0.4s ease}.main-navigation>.sub-menu.dl-animate-in-2{-webkit-animation:SubMenuAnimIn2 0.3s ease-in-out;animation:SubMenuAnimIn2 0.3s ease-in-out}.main-navigation>.sub-menu.dl-animate-in-3{-webkit-animation:SubMenuAnimIn3 0.4s ease;animation:SubMenuAnimIn3 0.4s ease}.main-navigation>.sub-menu.dl-animate-in-4{-webkit-animation:SubMenuAnimIn4 0.4s ease;animation:SubMenuAnimIn4 0.4s ease}.main-navigation>.sub-menu.dl-animate-in-5{-webkit-animation:SubMenuAnimIn5 0.4s ease;animation:SubMenuAnimIn5 0.4s ease}@-webkit-keyframes SubMenuAnimIn1{0%{-webkit-transform:translateX(50%);opacity:0}100%{-webkit-transform:translateX(0px);opacity:1}}@-webkit-keyframes SubMenuAnimIn2{0%{-webkit-transform:translateX(100%);opacity:0}100%{-webkit-transform:translateX(0px);opacity:1}}@-webkit-keyframes SubMenuAnimIn3{0%{-webkit-transform:translateZ(-230px);opacity:0}100%{-webkit-transform:translateZ(0px);opacity:1}}@-webkit-keyframes SubMenuAnimIn4{0%{-webkit-transform:translateZ(230px);opacity:0}100%{-webkit-transform:translateZ(0px);opacity:1}}@-webkit-keyframes SubMenuAnimIn5{0%{-webkit-transform:translateZ(-200px);opacity:0}100%{-webkit-transform:translateZ(0);opacity:1}}@keyframes SubMenuAnimIn1{0%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0}100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1}}@keyframes SubMenuAnimIn2{0%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0}100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1}}@keyframes SubMenuAnimIn3{0%{-webkit-transform:translateZ(-230px);transform:translateZ(-230px);opacity:0}100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}}@keyframes SubMenuAnimIn4{0%{-webkit-transform:translateZ(230px);transform:translateZ(230px);opacity:0}100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}}@keyframes SubMenuAnimIn5{0%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}.main-navigation>.sub-menu.dl-animate-out-1{-webkit-animation:SubMenuAnimOut1 0.4s ease;animation:SubMenuAnimOut1 0.4s ease}.main-navigation>.sub-menu.dl-animate-out-2{-webkit-animation:SubMenuAnimOut2 0.3s ease-in-out;animation:SubMenuAnimOut2 0.3s ease-in-out}.main-navigation>.sub-menu.dl-animate-out-3{-webkit-animation:SubMenuAnimOut3 0.4s ease;animation:SubMenuAnimOut3 0.4s ease}.main-navigation>.sub-menu.dl-animate-out-4{-webkit-animation:SubMenuAnimOut4 0.4s ease;animation:SubMenuAnimOut4 0.4s ease}.main-navigation>.sub-menu.dl-animate-out-5{-webkit-animation:SubMenuAnimOut5 0.4s ease;animation:SubMenuAnimOut5 0.4s ease}@-webkit-keyframes SubMenuAnimOut1{0%{-webkit-transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);opacity:0}}@-webkit-keyframes SubMenuAnimOut2{0%{-webkit-transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(100%);opacity:0}}@-webkit-keyframes SubMenuAnimOut3{0%{-webkit-transform:translateZ(0px);opacity:1}100%{-webkit-transform:translateZ(-230px);opacity:0}}@-webkit-keyframes SubMenuAnimOut4{0%{-webkit-transform:translateZ(0px);opacity:1}100%{-webkit-transform:translateZ(230px);opacity:0}}@-webkit-keyframes SubMenuAnimOut5{0%{-webkit-transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-200px);opacity:0}}@keyframes SubMenuAnimOut1{0%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0}}@keyframes SubMenuAnimOut2{0%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0}}@keyframes SubMenuAnimOut3{0%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}100%{-webkit-transform:translateZ(-230px);transform:translateZ(-230px);opacity:0}}@keyframes SubMenuAnimOut4{0%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1}100%{-webkit-transform:translateZ(230px);transform:translateZ(230px);opacity:0}}@keyframes SubMenuAnimOut5{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);opacity:0}}.no-js .main-navigation .menu{position:relative;opacity:1;-webkit-transform:none;transform:none}.no-js .main-navigation li .sub-menu{display:block}.no-js .main-navigation li.dl-back{display:none}.no-js .main-navigation li>a:not(:only-child){background:rgba(0,0,0,0.1)}.no-js .main-navigation li>a:not(:only-child):after{content:''}.main-navigation button{background:#94c1ad}.main-navigation button:hover,.main-navigation button.dl-active,.main-navigation ul{background-color:#94c1ad}}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;color:#311901;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.page-header{padding:30px 0}.wrap-breadcrumbs{margin-bottom:30px}.wrap-breadcrumbs a,.wrap-breadcrumbs span{color:#94c1ad;text-decoration:none;text-transform:uppercase;font-size:12.8px;font-size:.8rem;font-weight:600}.wrap-breadcrumbs .current{color:#311901}.sugar-hills-grid-item{position:relative;overflow:hidden;opacity:0;-webkit-transform:translateY(30px);-moz-transform:translateY(30px);-ms-transform:translateY(30px);-o-transform:translateY(30px);transform:translateY(30px);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out}.sugar-hills-grid-item h2{position:absolute;left:10px;right:10px;top:50%;text-align:center;font-size:24px;font-size:1.5rem;-webkit-transform:translateY(-30%);-moz-transform:translateY(-30%);-ms-transform:translateY(-30%);-o-transform:translateY(-30%);transform:translateY(-30%);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;color:#FFFFFF;margin:0;z-index:10;opacity:0;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-ms-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out;-webkit-transition-delay:.2s;-moz-transition-delay:.2s;-ms-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s}.sugar-hills-grid-item a{display:block;overflow:hidden;text-decoration:none}.sugar-hills-grid-item img{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.sugar-hills-grid-item:after,.sugar-hills-grid-item:before{content:'';position:absolute;left:5px;top:5px;right:5px;bottom:5px;pointer-events:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out}.sugar-hills-grid-item:after{background:rgba(49,25,1,0.2);background:-moz-linear-gradient(top, rgba(49,25,1,0.8) 0%, rgba(49,25,1,0.2) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(49,25,1,0.8)), color-stop(100%, rgba(49,25,1,0.2)));background:-webkit-linear-gradient(top, rgba(49,25,1,0.8) 0%, rgba(49,25,1,0.2) 100%);background:-o-linear-gradient(top, rgba(49,25,1,0.8) 0%, rgba(49,25,1,0.2) 100%);background:-ms-linear-gradient(top, rgba(49,25,1,0.8) 0%, rgba(49,25,1,0.2) 100%);background:linear-gradient(to bottom, rgba(49,25,1,0.8) 0%, rgba(49,25,1,0.2) 100%);opacity:0;z-index:5}.sugar-hills-grid-item:before{box-shadow:inset 0 0 0 0 #94c1ad;z-index:10}.sugar-hills-grid-item:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.sugar-hills-grid-item:hover h2{opacity:1;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.sugar-hills-grid-item:hover:before{box-shadow:inset 0 0 0 5px #94c1ad}.sugar-hills-grid-item:hover:after{opacity:1}.sugar-hills-grid-item.loaded{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;opacity:1;width:100% !important;height:auto !important}.sugar-hills-archive-nav ul{list-style:none;margin:0;padding:0}.sugar-hills-archive-nav a{font-family:"Bebas",sans-serif;letter-spacing:0.03em;word-spacing:0.1em;text-transform:uppercase;text-decoration:none;font-size:17.6px;font-size:1.1rem;line-height:1em;color:#311901;display:inline-block;padding:0 15px}.sugar-hills-archive-nav a.active,.sugar-hills-archive-nav a:hover{color:#94c1ad}.sugar-hills-archive-nav li{display:inline-block;border-right:1px solid #311901}.sugar-hills-archive-nav li:first-child a{padding-left:0}.sugar-hills-archive-nav li:last-child{border-right:0}.sugar-hills-archive-nav li:before{content:none}.single .entry-content{font-family:"Prata",serif}.single .entry-title{margin-bottom:0}.single .the-content-wrap{padding-top:2em}.single .the-content-wrap:before{content:'';position:absolute;left:15px;right:15px;top:0;height:1px;background-image:linear-gradient(to right, #000 33%, rgba(255,255,255,0) 0%);background-position:bottom;background-size:6px 1px;background-repeat:repeat-x}.sugar-hills-first-paragraph{border-bottom:1px dashed #311901;border-top:1px dashed #311901;padding-top:1em;padding-bottom:1em;margin-bottom:2em}.sugar-hills-first-paragraph p{font-family:"Prata",serif;font-size:20.8px;font-size:1.3rem;margin-bottom:0.4em}.sugar-hills-first-paragraph p:first-child{margin-top:0}.sugar-hills-first-paragraph p:last-child{margin-bottom:0}.page-template-page-contact .form-text-fields input,.page-template-page-contact .form-text-fields textarea{max-width:none;border-color:#633302}.page-template-page-contact .form-text-fields textarea{min-height:200px;resize:vertical}.page-template-page-contact .col-form{padding-right:2em;margin-bottom:15px}.page-template-page-contact .col-maps{padding-left:2em;border-left:1px dashed #633302}.page-template-page-contact .col-maps h2{font-family:"Bebas",sans-serif;color:#311901;text-transform:uppercase;font-size:19.2px;font-size:1.2rem;margin:0 0 .4em 0}.page-template-page-contact .col-maps h2 svg{display:inline-block;vertical-align:middle;width:auto;height:20px;margin-right:.4em}.page-template-page-contact .col-maps h2 svg path{fill:#94c1ad}.page-template-page-contact .col-maps p{padding-left:20px;font-family:"Prata",serif;font-size:16px;font-size:1rem;line-height:1.4em}.page-template-page-contact .col-maps .row{margin-bottom:1.5em}.page-template-page-contact .col-maps .row:last-child{margin-bottom:0}.sugar-hills-two-column-grid{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.sugar-hills-two-column-grid-item{width:50%;padding-bottom:1.5em;margin-bottom:1.5em;border-bottom:1px dashed rgba(49,25,1,0.4)}.sugar-hills-two-column-grid-item figure{-webkit-flex-basis:45%;-moz-flex-basis:45%;-ms-flex-preferred-size:45%;flex-basis:45%;overflow:hidden;width:45%;margin:0}.sugar-hills-two-column-grid-item img{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s;display:block;width:100%;height:auto}.sugar-hills-two-column-grid-item a{text-decoration:none;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}.sugar-hills-two-column-grid-item a:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.sugar-hills-two-column-grid-item a:hover h1{color:#94c1ad}.sugar-hills-two-column-grid-item:nth-child(2n){padding-left:1em}.sugar-hills-two-column-grid-item:nth-child(2n+1) .sugar-hills-two-column-grid-text{padding-right:2em;border-right:1px dashed rgba(49,25,1,0.4)}.sugar-hills-two-column-grid-item:after{content:'';content:"";display:block;clear:both}.sugar-hills-two-column-grid-text{padding-left:1em;-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1}.sugar-hills-two-column-grid-text p{font-size:14.4px;font-size:.9rem;color:#311901;font-family:"Prata",serif;margin:0}.sugar-hills-two-column-grid-text h1{font-family:"Bebas",sans-serif;color:#311901;text-transform:uppercase;font-size:19.2px;font-size:1.2rem;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s;margin:0 0 .4em 0}.sugar-hills-two-column-grid-text h1 svg{display:inline-block;vertical-align:middle;width:auto;height:20px;max-width:100%;margin-right:.4em}.sugar-hills-two-column-grid-text h1 svg path{fill:#94c1ad}.site-header{height:300px;position:relative;background-position:center center;background-size:cover}.site-header .content-wrap{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;position:relative;z-index:10}.site-header:after{content:'';position:absolute;z-index:1;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.3)}.site-branding{width:190px;margin-top:-4px;-webkit-box-flex:0;-webkit-flex-grow:0;-moz-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out}.site-branding a{display:block;background:#74ae94;background:-moz-linear-gradient(-45deg, #74ae94 0%, #94c1ad 100%);background:-webkit-linear-gradient(-45deg, #74ae94 0%, #94c1ad 100%);background:linear-gradient(135deg, #74ae94 0%, #94c1ad 100%);padding:15px;border-radius:0% 0 100% 100%;box-shadow:2px 2px 7px 0px rgba(0,0,0,0.6);-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out}.site-branding svg{display:block;width:100%;height:auto}.site-branding path,.site-branding polygon{fill:#FFF;stroke-width:0}.header-inner-wrap{background-color:rgba(148,193,173,0);-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out}@media (min-width: 900px){.not-home .header-inner-wrap{position:fixed;left:0;right:0;top:0;z-index:10}.not-home .fixed-header .header-inner-wrap{background-color:#94c1ad}.not-home .fixed-header .site-branding{width:112px;margin-bottom:-25px}.not-home .fixed-header .site-branding a{padding:8px}}.site-footer{background-color:#94c1ad;color:#FFF;text-align:center;font-family:"Prata",serif}.site-footer p{font-size:19.2px;font-size:1.2rem;margin:.7em}.site-footer a{display:inline-block;vertical-align:middle;margin-left:5px}.site-footer svg{display:block;width:35px;height:auto}.site-footer path{fill:#FFF}.back-to-top{display:none}.home .site-header{height:auto;position:absolute;left:0;top:0;width:100%;z-index:100;background-image:none !important}.home .site-header:after{content:none}.home .content-area{padding-bottom:0}.home-slider-wrap{min-height:600px;background:url(images/loading.gif) center center no-repeat}.home-slider{position:relative;z-index:5}.home-slider .owl-stage-outer,.home-slider .owl-stage,.home-slider .owl-item{position:relative;height:100%}.home-slider .disabled{display:none}.home-slider .owl-dots{display:block;margin-left:auto;margin-right:auto;text-align:right;position:absolute;left:0;right:0;bottom:0;text-align:center}.home-slider .owl-dot{display:inline-block;display:inline-block;width:15px;height:15px;margin-left:5px;border:1px solid #94c1ad;background-color:#94c1ad;border-radius:15px}.home-slider .owl-dot.active{background-color:#311901}.home-slider .owl-prev,.home-slider .owl-next{position:absolute;top:50%}.home-slider-slide{position:relative;min-height:600px;background-position:center center;background-repeat:no-repeat;background-size:cover}.home-slider-slide img{position:absolute !important;top:-9999px !important;left:-9999px !important}.home-slider-slide:after{content:'';background-color:rgba(49,25,1,0.45);position:absolute;left:0;top:0;width:100%;height:100%;z-index:5}.home-slider-text{position:absolute;z-index:10;text-align:center;left:30px;right:30px;bottom:70px}.home-slider-text h1{margin:0;color:#FFF;font-size:72px;font-size:4.5rem}.home-slider-text h1 small{display:block;font-family:"Bebas",sans-serif;letter-spacing:0.03em;word-spacing:0.1em;text-transform:uppercase;font-size:.35em}.home-slider-button{display:inline-block;font-size:19.2px;font-size:1.2rem;line-height:1.2em;font-family:"Bebas",sans-serif;letter-spacing:0.03em;word-spacing:0.1em;text-transform:uppercase;color:#FFFFFF;text-decoration:none;background-color:#94c1ad;padding:0.8em 1.6em 0.45em 1.6em;border-radius:2em;margin-top:0.5em}.home-slider-button:after{content:'';font-family:Verdana, sans-serif}.home-slider-button:hover{color:#94c1ad;background-color:#FFFFFF}.home-slider-buttons{position:relative}.home-slider-buttons button{background-color:transparent;border:0;outline:0;position:absolute;z-index:20;top:-300px;height:100px}.home-slider-buttons button:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.home-slider-buttons svg{display:block;height:100%;max-height:100%;max-width:100%;width:auto}.home-slider-buttons path{fill:#FFF}.home-slider-prev{left:0}.home-slider-next{right:0}.home-main-banner{background-color:#311901;border-top:2px solid #94c1ad;position:relative;overflow:hidden}.home-main-banner .content-wrap{position:static;padding:0 70px}.home-main-banner a{display:block;min-height:240px;text-decoration:none;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;justify-content:flex-start}.home-main-banner a:after{content:'';width:600px;height:400%;background:#311901;border-right:4px solid #94c1ad;position:absolute;z-index:15;left:40%;top:-250px;-webkit-transform:translateX(-50%) rotate(-45deg);-moz-transform:translateX(-50%) rotate(-45deg);-ms-transform:translateX(-50%) rotate(-45deg);-o-transform:translateX(-50%) rotate(-45deg);transform:translateX(-50%) rotate(-45deg);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.home-main-banner a:hover .home-banner-hover-text{display:block}.home-main-banner a:hover .home-banner-title{display:none}.home-main-banner a:hover img{-webkit-transform:translateY(-50%) scale(1.1);-moz-transform:translateY(-50%) scale(1.1);-ms-transform:translateY(-50%) scale(1.1);-o-transform:translateY(-50%) scale(1.1);transform:translateY(-50%) scale(1.1);-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;-ms-transform-origin:100% 50%;-o-transform-origin:100% 50%;transform-origin:100% 50%}.home-main-banner img{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;position:absolute;width:60%;height:auto;z-index:10;right:0;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;-ms-transform-origin:100% 50%;-o-transform-origin:100% 50%;transform-origin:100% 50%}.home-main-banner:after{content:'';display:block;position:absolute;left:-10%;right:-10%;top:0;height:100%;z-index:40;box-shadow:inset 0 0 103px 15px #000;pointer-events:none}.home-banner-text{width:50%;position:relative;z-index:20}.home-banner-hover-text{display:none;margin:0;color:#FFF;font-family:"Prata",serif;font-size:30.4px;font-size:1.9rem}.home-banner-hover-text strong{display:block;font-family:"Bebas",sans-serif;letter-spacing:0.03em;word-spacing:0.1em;text-transform:uppercase;font-size:40px;font-size:2.5rem;margin-top:.3em}.home-banner-hover-text p{margin:0;font-size:32px;font-size:2rem}.home-banner-title{font-family:"Bebas",sans-serif;letter-spacing:0.03em;word-spacing:0.1em;text-transform:uppercase;font-size:44.8px;font-size:2.8rem;margin:0}.home-banners-row{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;border-top:2px solid #94c1ad}.home-bottom-banner{display:block;width:33.333%;padding:30px 0;background-size:auto 100%;background-repeat:no-repeat;background-position:center center;position:relative;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s;text-decoration:none}.home-bottom-banner svg{display:block;width:50%;max-height:100%;height:auto;display:block;margin-left:auto;margin-right:auto;margin-bottom:30px}.home-bottom-banner path,.home-bottom-banner circle,.home-bottom-banner polygon{fill:#FFFFFF;stroke:none}.home-bottom-banner:after{content:'';display:block;position:absolute;left:0;top:0;height:100%;width:100%;z-index:1;pointer-events:none;background-color:rgba(49,25,1,0.3);-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}.home-bottom-banner:nth-child(2){border-left:2px solid #94c1ad;border-right:2px solid #94c1ad}.flip-container{position:relative;z-index:10}.flip-front{z-index:2}.flip-back{background-color:rgba(49,25,1,0.8);padding:0 20px;margin:0 20px;color:#FFF;text-align:center;font-family:"Prata",serif;font-size:17.6px;font-size:1.1rem}.flip-back:before,.flip-back:after{content:'\2605\2605\2605\2605';display:block;font-size:10px;color:#94c1ad;text-align:center;padding:20px 0 15px 0}@media (min-width: 900px){.flip-container{-webkit-perspective:1000px;perspective:1000px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.flip-container,.flip-front,.flip-back{width:240px}.flipper{-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;position:relative}.flip-front,.flip-back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:50%;left:0;margin:0}.flip-front{-webkit-transform:translateY(-50%) rotateY(0deg);-moz-transform:translateY(-50%) rotateY(0deg);-ms-transform:translateY(-50%) rotateY(0deg);-o-transform:translateY(-50%) rotateY(0deg);transform:translateY(-50%) rotateY(0deg);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.flip-back{-webkit-transform:translateY(-50%) rotateY(180deg);-moz-transform:translateY(-50%) rotateY(180deg);-ms-transform:translateY(-50%) rotateY(180deg);-o-transform:translateY(-50%) rotateY(180deg);transform:translateY(-50%) rotateY(180deg);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.home-bottom-banner{padding:0;height:520px}.home-bottom-banner svg{margin-bottom:0;width:72%}.home-bottom-banner:hover{background-size:auto 120%}.home-bottom-banner:hover .flipper{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.home-bottom-banner:hover:after{background-color:rgba(49,25,1,0.6)}}.sugar-hills-cafe-wrap{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:reverse;-webkit-box-orient:horizontal;-webkit-flex-direction:row-reverse;-moz-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.sugar-hills-cafe-text{-webkit-box-flex:1;-webkit-flex-grow:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.sugar-hills-cafe-text .page-title{margin-bottom:37.5px}.sugar-hills-cafe-text-content{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:reverse;-webkit-box-orient:horizontal;-webkit-flex-direction:row-reverse;-moz-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.sugar-hills-cafe-text-content>div{-webkit-flex-basis:320px;-moz-flex-basis:320px;-ms-flex-preferred-size:320px;flex-basis:320px;-webkit-box-flex:0;-webkit-flex-grow:0;-moz-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;padding-right:2em}.sugar-hills-cafe-text-image{display:block}.sugar-hills-cafe-text-image img{width:100%;height:auto;display:block}.sugar-hills-cafe-menu{-webkit-flex-basis:240px;-moz-flex-basis:240px;-ms-flex-preferred-size:240px;flex-basis:240px;-webkit-box-flex:0;-webkit-flex-grow:0;-moz-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;padding-left:22.5px;margin-left:22.5px;border-left:1px dashed #94c1ad}.sugar-hills-cafe-menu a{text-transform:uppercase;text-decoration:none;color:#311901;font-family:"Bebas",sans-serif;font-weight:normal;display:inline-block;font-size:19.2px;font-size:1.2rem;line-height:1.7em;word-spacing:0.2em}.sugar-hills-cafe-menu li:before{color:#311901;font-size:20px}.sugar-hills-cafe-menu svg{display:block;max-width:100%;max-height:100%;width:105px;height:auto;margin-bottom:10px}.sugar-hills-cafe-menu svg path{fill:#311901}.sugar-hills-cafe-menu .current_page_item:before,.sugar-hills-cafe-menu .current_page_item>a,.sugar-hills-cafe-menu .current-menu-item:before,.sugar-hills-cafe-menu .current-menu-item>a,.sugar-hills-cafe-menu .current_page_ancestor:before,.sugar-hills-cafe-menu .current_page_ancestor>a,.sugar-hills-cafe-menu .current-menu-ancestor:before,.sugar-hills-cafe-menu .current-menu-ancestor>a,.sugar-hills-cafe-menu li:hover:before,.sugar-hills-cafe-menu li:hover>a{color:#94c1ad}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.sugar-hills-gallery{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:1.5em;padding:0}.sugar-hills-gallery-item{width:25%;margin-bottom:0;margin-top:0;position:relative;cursor:pointer}.sugar-hills-gallery-item figcaption{display:none}.sugar-hills-gallery-item img{display:block;position:relative;width:100%;height:auto}.sugar-hills-gallery-item a{display:block;padding:10px;border:1px solid transparent}.sugar-hills-gallery-item:hover a{border-color:#94c1ad}.pswp img{max-height:none;max-width:none}@media (max-width: 1230px){#page{overflow-x:hidden}.content-wrap{padding-left:15px;padding-right:15px}.content-wrap .content-wrap{padding-left:0;padding-right:0}}@media (max-width: 1110px){.home-main-banner .content-wrap{padding-left:15px;padding-right:15px}.home-main-banner a:after{left:28%}.home-banner-title{font-size:40px;font-size:2.5rem}.home-banner-hover-text p{font-size:24px;font-size:1.5rem}.home-banner-hover-text p strong{font-size:30.4px;font-size:1.9rem}}@media (max-width: 900px){.site-header{background:none !important;height:auto}.site-header:after{content:none}.site-branding{width:123px}.home-slider-wrap,.home-slider,.home-slider-slide{min-height:540px}.home-slider-text{bottom:auto;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.home-slider-text h1{font-size:56px;font-size:3.5rem}.home-banner-hover-text{display:block}.home-banner-hover-text p{font-size:20.8px;font-size:1.3rem}.home-banner-hover-text p strong{font-size:22.4px;font-size:1.4rem}.home-banner-title{font-size:25.6px;font-size:1.6rem;line-height:1;padding-bottom:.2em;margin-bottom:.2em;border-bottom:1px dotted #94c1ad;display:inline-block}.home-main-banner a:after{left:17%}.home-main-banner a:hover .home-banner-title,.home-main-banner a:hover .home-banner-hover-text{display:inline-block}.home-main-banner img{width:80%}.page-template-page-contact .col-maps{padding-left:15px}.sugar-hills-cafe-menu{-webkit-flex-basis:200px;-moz-flex-basis:200px;-ms-flex-preferred-size:200px;flex-basis:200px}.sugar-hills-cafe-text-content{display:block}.sugar-hills-cafe-text-content>div{padding-right:0}.sugar-hills-gallery-item{width:33.333%}}@media (max-width: 768px){.sugar-hills-two-column-grid-item{position:relative;padding-bottom:0;margin-bottom:2em;border-bottom:0}.sugar-hills-two-column-grid-item:after{content:'';position:absolute;left:0;right:0;bottom:-1em;border-bottom:1px dashed rgba(49,25,1,0.4)}.sugar-hills-two-column-grid-item a{display:block}.sugar-hills-two-column-grid-item figure{display:block;width:200px;max-width:100%;margin-bottom:0.8em}.sugar-hills-two-column-grid-item:nth-child(2n){padding-left:1em;border-left:1px dashed rgba(49,25,1,0.4);padding-right:0}.sugar-hills-two-column-grid-item:nth-child(2n+1){padding-right:1em;padding-left:0}.sugar-hills-two-column-grid-item:nth-child(2n) .sugar-hills-two-column-grid-text,.sugar-hills-two-column-grid-item:nth-child(2n+1) .sugar-hills-two-column-grid-text{padding-right:0;padding-left:0;border:0}}@media (max-width: 640px){.home .site-header{z-index:40}.home-slider h1{font-size:28.8px;font-size:1.8rem;margin-bottom:0.6em}.home-slider h1 small{font-size:0.5em;margin-top:1em;line-height:1.4em}.home-slider-button{font-size:11.2px;font-size:.7rem}.home-slider-buttons button{height:60px}.home-banner-text{width:100%;text-align:center}.home-main-banner a:hover .home-banner-title,.home-main-banner a:hover .home-banner-hover-text{display:inline-block}.home-banner-hover-text p{font-size:20.8px;font-size:1.3rem}.home-banner-hover-text p strong{font-size:22.4px;font-size:1.4rem}.home-banner-title{font-size:24.96px;font-size:1.56rem}.home-main-banner a:after{content:none}.home-main-banner img{display:none}.home-banners-row{display:block}.home-bottom-banner{display:block;width:100%}.home-bottom-banner svg{width:35%}.home-bottom-banner:nth-child(2){border-left:0;border-right:0;border-bottom:2px solid #94c1ad;border-top:2px solid #94c1ad}.site-footer p{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:reverse;-webkit-box-orient:vertical;-webkit-flex-direction:column-reverse;-moz-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;font-size:12.8px;font-size:.8rem}.footer-social-nav{margin-bottom:15px}.back-to-top{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;opacity:0;pointer-events:none;display:block;position:fixed;bottom:1em;right:1em;border-radius:100%;width:50px;height:50px;line-height:1;z-index:100;padding:10px}.back-to-top svg{display:block;width:100%;height:auto;max-width:100%;max-height:100%}.back-to-top path{fill:#FFFFFF}.scrolling .back-to-top{opacity:1;pointer-events:auto}.home .back-to-top{display:none}h1{font-size:30px;font-size:1.875rem;line-height:1.2em}h1.page-title,h1.entry-title{font-size:42px;font-size:2.625rem;line-height:1.2em}.single .entry-title{font-size:42px;font-size:2.625rem}.sugar-hills-archive-nav a{font-size:12.8px;font-size:.8rem;line-height:1em;padding:0 8px}.sugar-hills-button{font-size:12px;font-size:.75rem;line-height:1.2em;margin-bottom:1em}.sugar-hills-button.button-l{font-size:12.8px;font-size:.8rem}.sugar-hills-button.button-xl{font-size:16px;font-size:1rem}.sugar-hills-text-columns{-moz-column-count:2;-moz-column-gap:1em;-webkit-column-count:2;-webkit-column-gap:1em;column-count:2;column-gap:1em;-webkit-column-rule-width:none;-moz-column-rule-width:none;column-rule-width:none;-webkit-column-rule-style:auto;-moz-column-rule-style:auto;column-rule-style:auto;-webkit-column-rule-color:auto;-moz-column-rule-color:auto;column-rule-color:auto;column-fill:balance;-moz-column-fill:balance;-webkit-column-fill:balance}.sugar-hills-cafe-wrap{display:block}.sugar-hills-cafe-menu{padding-left:0;margin-left:0;border-left:0}}@media (max-width: 480px){.sugar-hills-text-columns{-moz-column-count:1;-moz-column-gap:0;-webkit-column-count:1;-webkit-column-gap:0;column-count:1;column-gap:0;-webkit-column-rule-width:none;-moz-column-rule-width:none;column-rule-width:none;-webkit-column-rule-style:auto;-moz-column-rule-style:auto;column-rule-style:auto;-webkit-column-rule-color:auto;-moz-column-rule-color:auto;column-rule-color:auto;column-fill:balance;-moz-column-fill:balance;-webkit-column-fill:balance}.sugar-hills-two-column-grid{display:block}.sugar-hills-two-column-grid-item{width:100%}.sugar-hills-two-column-grid-item figure{width:100%}.sugar-hills-two-column-grid-item:nth-child(2n),.sugar-hills-two-column-grid-item:nth-child(2n+1){padding-left:0;padding-right:0;border:0}.sugar-hills-gallery-item{width:50%}.sugar-hills-archive-nav li{display:block;padding:0;padding-left:13px;border:0;position:relative}.sugar-hills-archive-nav li:before{content:'\2022';font-size:23px;line-height:0.8em;color:#311901}.sugar-hills-archive-nav li a{display:block;line-height:2em;padding:0}}
/*# sourceMappingURL=style.css.map */
