// Bootstrap
@import 'bootstrap';

// Bricklayer
.bricklayer {
  $column-gutter: 0;
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(center);
  @include flex-wrap(wrap);

  &-column-sizer {
    width: 100%;
    display: none;
  }

  &-column {
    @include flex(1);
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

}

// Content
.content-wrap{
  position: relative;
  max-width: $size__container;
  @include center-block;
}
.content-area{
  padding-bottom: 40px;
}

// Sticky footer
html, body, #page{
	min-height: 100vh;
}
#page{
	@include flexbox;
	@include flex-direction(column);
}
#content{
	@include flex(1);
}

// Masonry-like grid
.sugar-hills-grid{
  @include column( 4, $padding_grid_items );
}
.sugar-hills-grid-item{
  padding: $padding_grid_items;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.js{
  // When JS is active, use Masonry
  .sugar-hills-grid{
    @include column( inherit, 0);
    // overflow: hidden;
  }
  .sugar-hills-grid-item{
  	// Ancho y alto
  	// El important es debido a que por JS se le
  	// pone ancho y alto para que bricklayer
  	// pueda calcular su posición correctamente
  	// width: 100% !important;
  	// height: auto !important;
  }
  // Columnado
  .bricklayer-column,
  .bricklayer-column-sizer {
    width: 25%;

    @media screen and (max-width: 640px) {
      width: 100%;
    }

    @media screen and (min-width: 640px) {
      width: 50%;
    }

    @media screen and (min-width: 980px) {
      width: 33.333%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
    }
  }
}

// Form Utils
form{
  display: none;
}
.js{
  form{
    // Sólo mostrar forms con JS activado
    display: block;
  }
}
.radio-toggle-container{
  display: none;
  padding-left: 3em;
  margin-top: 1em;
  margin-bottom: 1em;

  &.disabled{
    input, textarea, select{
      display: none;
    }
  }

  p, div{
    &:last-child{
      margin-bottom: 0;
    }
    &:first-child{
      margin-top: 0;
    }
  }
}


// Maps
.g-map{
  height: 300px;
  width: 100%;
}
