.sugar-hills-gallery {
	@include flexbox;
	@include flex-wrap(wrap);
	margin-bottom: 1.5em;
	padding: 0;
}

.sugar-hills-gallery-item{
	$_calle: 10px;
	width: 25%;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	cursor: pointer;

	figcaption{
		display: none;
	}

	img{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	}

	a{
		display: block;
		padding: $_calle;
		border: 1px solid transparent;
	}

	&:hover{
		a{
			border-color: $color__green;
		}
	}
}

// Lightbox
.pswp{
	img{
		max-height: none;
		max-width: none;
	}
}
