/*--------------------------------------------------------------
# Límite de pantalla
--------------------------------------------------------------*/
@media (max-width: $size__container + 2*$padding_normal) {
  #page{
    // Ocultar el overflow
    // de algunos elementos
    overflow-x: hidden;
  }
  .content-wrap{
    padding-left: $padding_normal;
    padding-right: $padding_normal;

    .content-wrap{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 1110px) {
  // Home Banner
  .home-main-banner{
    .content-wrap{
      padding-left: $padding_normal;
      padding-right: $padding_normal;
    }
    a:after{
     left: 28%;
   }
  }
  .home-banner-title{
    @include font-size(2.5);
  }
  .home-banner-hover-text p{
    @include font-size(1.5);
    strong{
      @include font-size(1.9);
    }
  }

}

/*--------------------------------------------------------------
# Tablets
--------------------------------------------------------------*/
@media ( max-width: 900px ) {

  // Header
  .site-header{
    background: none !important;
    height: auto;
    &:after{
      content: none;
    }
  }

  // Logo
  .site-branding{
    width: 123px;
  }

  // Home Slider
  .home-slider-wrap,
  .home-slider,
  .home-slider-slide{
    min-height: $size__slider*.9;
  }
  .home-slider-text{
    bottom: auto;
    top: 50%;
    @include transform(translateY(-50%));
    h1{
      @include font-size(3.5);
    }
  }


  // Home Main Banner
  .home-banner-hover-text{
    display: block;
    p{
      @include font-size(1.3);
      strong{
        @include font-size(1.4);
      }
    }
  }
  .home-banner-title{
    @include font-size(1.6);
    line-height: 1;
    padding-bottom: .2em;
    margin-bottom: .2em;
    border-bottom: 1px dotted $color__green;
    display: inline-block;
  }
  .home-main-banner{
    a{
      &:after{
        left: 17%;
      }
      &:hover{
        .home-banner-title,
        .home-banner-hover-text{
          display: inline-block;
        }
      }
    }
    img{
      width: 80%;
    }
  }


  // Internas
  // Contact
  .page-template-page-contact .col-maps{
    padding-left: $padding_normal;
  }

  // Sugar Hills Café
  .sugar-hills-cafe-menu{
    @include flex-basis(200px);
  }
  .sugar-hills-cafe-text-content{
    display: block;
    &>div{
      padding-right: 0;
    }
  }

  // Galerías
  .sugar-hills-gallery-item{
    width: 33.333%;
  }

}

@media ( max-width: 768px ) {

  .sugar-hills-two-column-grid-item{
    position: relative;
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: 0;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1em;
      border-bottom: 1px dashed rgba($color__background-hr, 0.4);
    }

    a{
      display: block;
    }
    figure{
      display: block;
      width: 200px;
      max-width: 100%;
      // margin-left: 1em;
      margin-bottom: 0.8em;
    }

  	&:nth-child(2n){
  		padding-left: 1em;
      border-left: 1px dashed rgba($color__background-hr, 0.4);
      padding-right: 0;
  	}
  	&:nth-child(2n+1){
  		padding-right: 1em;
      padding-left: 0;
  	}

    &:nth-child(2n),
    &:nth-child(2n+1){
  		.sugar-hills-two-column-grid-text{
  			padding-right: 0;
  			padding-left: 0;
  			border: 0;
    	}
    }
  }
}

/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/
@media ( max-width: 640px ) {

  // Nav
  .home .site-header{
    z-index: 40; // Encima del slider
  }
  .main-navigation{
    .menu{
      // top: 85px;
      // z-index: 100;
    }
  }

  // Home Slider
  .home-slider{
    h1{
      @include font-size(1.8);
      margin-bottom: 0.6em;
      small{
        font-size: 0.5em;
        margin-top: 1em;
        line-height: 1.4em;
      }
    }
  }
  .home-slider-button{
    @include font-size(.7);
  }
  .home-slider-buttons{
    button{
      height: 60px;
    }
  }

  // Home Main Banner
  .home-banner-text{
    width: 100%;
    text-align: center;
  }
  .home-main-banner a:hover .home-banner-title,
  .home-main-banner a:hover .home-banner-hover-text{
    display: inline-block;
  }
  .home-banner-hover-text{
    p{
      @include font-size(1.3);
      strong{
        @include font-size(1.4);
      }
    }
  }
  .home-banner-title{
    @include font-size(1.56);
  }
  .home-main-banner{
    a{
      &:after{
        content: none;
      }
    }
    img{
      display: none;
    }
  }

  // Banners row
  .home-banners-row{
    display: block;
  }
  .home-bottom-banner{
    display: block;
    width: 100%;
    svg{
      width: 35%;
    }
    &:nth-child(2){
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid $color__green;
      border-top: 2px solid $color__green;
    }
  }

  // Footer
  .site-footer p{
    @include flexbox;
    @include flex-direction(column-reverse);
    @include font-size(0.8);
  }
  .footer-social-nav{
    margin-bottom: $padding_normal;
  }

  // Back to top
  .back-to-top{
    @include transition(all 0.2s ease-out);
    opacity: 0;
    pointer-events: none;
    display: block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 1;
    z-index: 100;
    padding: 10px;
    svg{
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    path{
      fill: #FFFFFF;
    }
  }
  .scrolling{
    .back-to-top{
      opacity: 1;
      pointer-events: auto;
    }
  }
  .home{
    .back-to-top{
      display: none;
    }
  }

  // Titles
  h1{
  	@include font-size(30/$font__base-size);
  	line-height: 1.2em;

  	// Page / Entry titles
  	&.page-title,
  	&.entry-title{
  		@include font-size(42/$font__base-size);
  		line-height: 1.2em;
  	}
  }

  // Single
  .single{
  	.entry-title{
  		@include font-size(42/$font__base-size);
  	}
  }
  // Archive nav (filters)
  .sugar-hills-archive-nav{
  	a{
  		@include font-size(0.8);
  		line-height: 1em;
      padding: 0 8px;
    }
  }
  // Sugar Hills button
  .sugar-hills-button{
  	@include font-size(.75);
  	line-height: 1.2em;
    margin-bottom: 1em;

  	&.button-l{
  		@include font-size(.8);
  	}
  	&.button-xl{
  		@include font-size(1);
  	}
  }
  // Columns
  .sugar-hills-text-columns{
  	@include column( 2, 1em );
  }

  // Sugar Hills Café
  .sugar-hills-cafe-wrap{
    display: block;
  }
  .sugar-hills-cafe-menu{
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
  }

}

@media (max-width: 480px) {

  // Columns
  .sugar-hills-text-columns{
  	@include column( 1, 0 );
  }
  .sugar-hills-two-column-grid{
    display: block;
  }
  .sugar-hills-two-column-grid-item{
    width: 100%;
    figure{
      width: 100%;
    }

    &:nth-child(2n),
    &:nth-child(2n+1){
      padding-left: 0;
      padding-right: 0;
      border: 0;
    }
  }

  // Galerías
  .sugar-hills-gallery-item{
    width: 50%;
  }

  // Archive
  .sugar-hills-archive-nav{
    li{
      display: block;
      padding: 0;
      padding-left: 13px;
      border: 0;
      position: relative;
      &:before{
        content: '\2022';
        font-size: 23px;
        line-height: 0.8em;
        color: $color__brown;
        // position: absolute;
        // left: 0;
        // top: 0;
      }
      a{
        display: block;
        line-height: 2em;
        padding: 0;
      }
    }
  }
}
