// Page header
.page-header{
	padding: 30px 0;
}

// Breadcrumbs
.wrap-breadcrumbs{
	margin-bottom: 30px;

	a, span{
		color: $color__green;
		text-decoration: none;
		text-transform: uppercase;
		@include font-size(0.8);
		font-weight: 600;
	}
	.current{
		color: $color__brown;
	}
}


// -----------------------------------
// :: Cakes / Pastries listing
// -----------------------------------
.sugar-hills-grid-item{
	position: relative;
	overflow: hidden;
	opacity: 0;
	// chrome bug
	@include transform( translateY(30px) );
	@include transition( all 0.2s ease-out );

	h2{
		// @include hide;
		position: absolute;
		left: 10px;
		right: 10px;
		top: 50%;
		text-align: center;
		@include font-size(1.5);
		@include transform( translateY(-30%) );
		color: #FFFFFF;
		margin: 0;
		z-index: 10;
		opacity: 0;
		@include transition( .2s ease-out );
		@include transition-delay( .2s );
	}
	a{
		display: block;
		overflow: hidden; // Ocultar agrandado de imagen
		text-decoration: none;
	}
	img{
		@include transition( all 0.2s ease-out );
		@include transform( scale(1) );
	}
	// Overlays
	&:after, &:before{
		content: '';
		position: absolute;
		left: $padding_grid_items;
		top: $padding_grid_items;
		right: $padding_grid_items;
		bottom: $padding_grid_items;
		pointer-events: none;
		@include transition( all 0.2s ease-out );
	}
	&:after{
		@include linear-gradient( rgba($color__brown, 0.8), rgba($color__brown, 0.2) );
		opacity: 0;
		z-index: 5;
	}
	&:before{
		box-shadow: inset 0 0 0 0 $color__green;
		z-index: 10;
	}

	&:hover{
		img{
			@include transform( scale(1.1) );
		}
		h2{
			opacity: 1;
			@include transform( translateY(-50%) );
		}
		&:before{
			box-shadow: inset 0 0 0 5px $color__green;
		}
		&:after{
			opacity: 1;
		}
	}

	&.loaded{
		@include transform( translateY(0) );
		opacity: 1;
		width: 100% !important;
		height: auto !important;
	}
}

// Archive nav (filters)
.sugar-hills-archive-nav{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a{
		font-family: $font__buttons;
		letter-spacing: 0.03em;
		word-spacing: 0.1em;
		text-transform: uppercase;
		text-decoration: none;
		@include font-size(1.1);
		line-height: 1em;
		color: $color__brown;
		display: inline-block;
		padding: 0 15px;

		&.active,
		&:hover{
			color: $color__green;
		}
	}
	li{
		display: inline-block;
		border-right: 1px solid $color__brown;

		&:first-child{
			a{
				padding-left: 0;
			}
		}
		&:last-child{
			border-right: 0;
		}
		&:before{
			content: none;
		}
	}
}

// -----------------------------------
// :: Single (ficha producto)
// -----------------------------------
.single{
	.entry-content{
		font-family: $font__titles;
	}
	.entry-title{
		margin-bottom: 0;
	}
	.the-content-wrap{
		padding-top: 2em;
		&:before{
			content: '';
			position: absolute;
			left: $padding_normal;
			right: $padding_normal;
			top: 0;
			height: 1px;
			// Dotted border
			background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
			background-position: bottom;
			background-size: 6px 1px;
			background-repeat: repeat-x;
		}
	}
}

// First paragraph
.sugar-hills-first-paragraph{
	border-bottom: 1px dashed $color__background-hr;
	border-top: 1px dashed $color__background-hr;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;

	p{
		font-family: $font__titles;
		@include font-size(1.3);
		margin-bottom: 0.4em;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}

// -----------------------------------
// :: Contact
// -----------------------------------
.page-template-page-contact{
	.form-text-fields{
		input, textarea{
			max-width: none;
			border-color: lighten($color__brown, 10%);
		}
		button{
			// float: right;
		}
		textarea{
			min-height: 200px;
			resize: vertical;
		}
	}
	.col-form{
		padding-right: 2em;
		margin-bottom: $padding_normal;
	}
	.col-maps{
		padding-left: 2em;
		border-left: 1px dashed lighten($color__brown, 10%);
		h2{
			font-family: $font__buttons;
			color: $color__brown;
			text-transform: uppercase;
			@include font-size(1.2);
			margin: 0 0 .4em 0;
			svg{
				display: inline-block;
				vertical-align: middle;
				width: auto;
				height: 20px;
				margin-right: .4em;
				path{
					fill: $color__green;
				}
			}
		}
		p{
			padding-left: 20px;
			font-family: $font__titles;
			@include font-size(1);
			line-height: 1.4em;
		}
		.row{
			margin-bottom: 1.5em;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

// -----------------------------------
// :: Two Column Grid
// -----------------------------------
.sugar-hills-two-column-grid{
	@include flexbox;
	@include flex-wrap(wrap);
}
.sugar-hills-two-column-grid-item{
	width: 50%;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px dashed rgba($color__background-hr, 0.4);

	figure{
		@include flex-basis(45%);
		overflow: hidden;
		width: 45%;
		margin: 0;
	}

	img{
		@include transform( scale(1) );
		@include transition( .2s );
		display: block;
		width: 100%;
		height: auto;
	}

	a{
		text-decoration: none;
		@include flexbox;
		&:hover{
			img{
				@include transform( scale(1.1) );
			}
			h1{
				color: $color__green;
			}
		}
	}

	&:nth-child(2n){
		padding-left: 1em;
	}

	&:nth-child(2n+1){
		.sugar-hills-two-column-grid-text{
			padding-right: 2em;
			border-right: 1px dashed rgba($color__background-hr, 0.4);
		}
	}

	&:after{
		content: '';
		@include clearfix;
	}
}
.sugar-hills-two-column-grid-text{
	padding-left: 1em;
	@include flex(1);

	p{
		@include font-size(.9);
		color: $color__brown;
		font-family: $font__titles;
		margin: 0;
	}
	h1{
		font-family: $font__buttons;
		color: $color__brown;
		text-transform: uppercase;
		@include font-size(1.2);
		@include transition( .2s );
		margin: 0 0 .4em 0;
		svg{
			display: inline-block;
			vertical-align: middle;
			width: auto;
			height: 20px;
			max-width: 100%;
			margin-right: .4em;
			path{
				fill: $color__green;
			}
		}
	}
}
